<ion-header>
    <header-bar title="signature-wallet"></header-bar>
</ion-header>
<ion-content no-bounce>
    <ion-item>
        <ion-label stacked>{{'text-multi-title1' | translate}}</ion-label>
        <ion-select [(ngModel)]="totalCopayers" (ionChange)="setTotalCopayers()">
            <ion-select-option *ngFor="let copayer of copayers" [value]="copayer">{{copayer}}</ion-select-option>
        </ion-select>
    </ion-item>

    <ion-item>
        <ion-label stacked>{{'text-multi-title2' | translate}}</ion-label>
        <ion-select [(ngModel)]="requiredCopayers">
            <ion-select-option *ngFor="let signature of signatures" [value]="signature">{{signature}}
            </ion-select-option>
        </ion-select>
    </ion-item>

</ion-content>
<ion-footer>
    <ion-button class="confirm" (click)="onNext()">{{'text-next-step' | translate}}</ion-button>
</ion-footer>