/* 
@import "../../../../functions.scss";

.mnemonic {
    //max-height: 30rem;
    display: flex;
    justify-content: center;
    align-items: center;
    .slide-title {
        text-align: center;
        font-size: 14px;
        padding: 20px;

        // color: color($colors, grey);
        color: --ion-color-medium;
    }
    @media (max-height: 550px) {
        align-items: baseline;
    }
    .slide-body {
        min-width: 80%;
    }
    .phrase-container {
        // background: white;
        margin: auto;
        border: 1px dashed #d9d9d9;
        border-radius: 3px;
        // color: #192c3a;
        text-align: center;
        width: px2rem(660px);
        height: px2rem(280px);
        // display: flex;
        justify-content: center;
        align-items: center;
        .phrase {
            padding: 20px;
            font-weight: bold;
            line-height: 2;
            font-size: 18px;
            // letter-spacing: 1px;
            @media (min-width: 575px) {
                font-size: 18px;
                padding: 48px;
            }
            @media (max-height: 550px) {
                font-size: 16px;
                padding: 16px;
            }
        }
    }
    .words {
        max-width: 500px;
        margin: 0 auto;
        .button {
            height: 48px;
            font-size: 14px;
        }
    }
    .bottom-button {
        max-width: 500px;
        font-size: 16px;

        // color: color($colors, grey);
        // color: --ion-color-medium;

        padding: 16px;
        position: absolute;
        bottom: 32px;
        text-align: center;
        width: 100%;
    }
}
.mnemonic-password {
    margin-top: 10%;
    .text-center {
        text-align: center;
    }
} */

.container {
    min-height: 100%;
    padding: 10px 25px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-image: url('/assets/background/background2.svg');
    object-fit: cover;

    p {
        margin: 0;
        padding: 20px 25px 40px;
        font-size: 18px;
        font-weight: 400;
        line-height: 1.26;
        letter-spacing: -0.46px;
        text-align: center;
        color: #fdfeff;
    }

    .mnemonic-row {
        display: flex;
        justify-content: space-between;
        align-items: space-between;

        ion-col {
            height: 35px;
            background: #42117d;
            border-radius: 8px;
            margin-bottom: 30px;
            display: flex;
            justify-content: center;
            align-items: center;

            .mnemonic-index {
                position: absolute;
                z-index: 100;
                top: -11px;
                left: -11px;
                width: 22px;
                height: 22px;
                background: #42117d;
                border-radius: 100%;
                border: 2px solid #6a25c4;
                color: #fdfeff;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 9px;
            }

            ion-label {
                font-size: 12px;
                font-weight: 500;
                line-height: 1.25;
                letter-spacing: -0.29px;
                color: #fdfeff;
            }
        } 
    }

    .btn-container {
        margin-top: 75px;
        width: 95%;
    }
}

@media screen and (max-height: 670px) {
    .container {
        .mnemonic-row {
            ion-col {
                margin-bottom: 15px;
            }
        }
    } 
}
