<ion-content>
    <ion-grid class="ion-text-center container">
        <p>
            These are your 12 security words 
            (mnemonic phrase). Lose these 
            and you will lose the wallet, so you
            must keep them written down, in
            order, and safe!
        </p>
        <ion-row class="mnemonic-row">
            <ion-col size="3.6" *ngFor="let item of mnemonicList; let i = index">
                <div class="mnemonic-index">{{ mnemonicList.indexOf(item) + 1 }}</div>
                <ion-label>{{ item.text }}</ion-label>
            </ion-col>
        </ion-row>
        <ion-row class="btn-container">
            <ion-button color="secondary" (click)="onNext()">
                <ion-label>{{ 'text-memory' | translate }}</ion-label>
            </ion-button>
        </ion-row>
    </ion-grid>
</ion-content>


<!-------------------- OLD WALLET -------------------->
<!-- <ion-header>
    <header-bar title="text-mnemonic"></header-bar>
</ion-header>

<ion-content>
    <div class="mnemonic">
        <div class="slide-container">
            <div class="slide-title">{{ 'text-mnemonic-prompt' | translate}}</div>
            <div class="slide-body">
                <div class="phrase-container">
                    <div class="phrase">
                        <span *ngFor="let item of mnemonicList;let i=index">
                            <span>{{item.text}} &ensp;</span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="mnemonic-password">
                <ion-list lines="none">
                    <ion-item>
                        <ion-label style="font-size:15px">{{'showmnes-optionalpassword1-title' | translate }}
                        </ion-label>
                        <my-toggle [checked]="isSelect" (onChange)=onChangeSelect($event)></my-toggle>
                    </ion-item>

                    <ion-item *ngIf="isSelect">
                        <ion-input type="password"
                            placeholder="{{ 'showmnes-optionalpassword1-placeholder' | translate }}"
                            [(ngModel)]="mnemonicPassword"></ion-input>
                    </ion-item>

                    <ion-item *ngIf="isSelect">
                        <ion-input type="password"
                            placeholder="{{ 'showmnes-optionalpassword2-placeholder' | translate }}"
                            [(ngModel)]="mnemonicRepassword"></ion-input>
                    </ion-item>

                </ion-list>
            </div>
        </div>
    </div>
</ion-content>
<ion-footer>
    <ion-button class="confirm" (click)="onNext()" full>{{ 'text-memory' | translate }}</ion-button>
</ion-footer> -->