
@import "../../../../functions.scss";

.mnemonic {
    //max-height: 30rem;
    display: flex;
    justify-content: center;
    align-items: center;
    .slide-title {
        text-align: center;
        font-size: 14px;
        padding: 20px;

        // color: color($colors, grey);
        color: --ion-color-medium;
    }
    @media (max-height: 550px) {
        align-items: baseline;
    }
    .slide-body {
        min-width: 80%;
    }
    .phrase-container {
        // background: white;
        margin: auto;
        border: 1px dashed #d9d9d9;
        border-radius: 3px;
        // color: #192c3a;
        text-align: center;
        width: px2rem(660px);
        height: px2rem(280px);
        // display: flex;
        justify-content: center;
        align-items: center;
        .phrase {
            padding: 20px;
            font-weight: bold;
            line-height: 2;
            font-size: 18px;
            // letter-spacing: 1px;
            @media (min-width: 575px) {
                font-size: 18px;
                padding: 48px;
            }
            @media (max-height: 550px) {
                font-size: 16px;
                padding: 16px;
            }
        }
    }
    .words {
        max-width: 500px;
        margin: 0 auto;
        .button {
            height: 48px;
            font-size: 14px;
        }
    }
    .bottom-button {
        max-width: 500px;
        font-size: 16px;

        // color: color($colors, grey);
        // color: --ion-color-medium;

        padding: 16px;
        position: absolute;
        bottom: 32px;
        text-align: center;
        width: 100%;
    }
}
.mnemonic-password {
    margin-top: 10%;
    .text-center {
        text-align: center;
    }
}