/* .container {
    height: 100%;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 40px 5px;
  
    ion-img {
      width: 67.2px;
      height: 67.2px;
      object-fit: contain;
    }
  
    h1, h2, h3, h4 {
      color: #161740;
      margin: 0;
      padding: 0 40px;
      width: 100%;
    }
  
    h1, h2 {
      text-align: center;
    }
  
    h3, h4 {
      text-align: left;
      font-size: 13px;
    }
    
    h1 {
      padding-top: 5px;
      padding-bottom: 5px;
      font-size: 11px;
      font-weight: 600;
    }
  
    h2 {
      padding-top: 20px;
      padding-bottom: 20px;
      font-size: 20px;
      font-weight: 700;
    }
  
    h3 {
      padding-top: 5px;
      padding-bottom: 5px;
      font-weight: 700;
    }
  
    h4 {
      padding-top: 0;
      padding-bottom: 15px;
      font-weight: 400;
    }
  
    .btn-row {
      margin-top: 20px;
      width: 100%;
      display: flex;
      justify-content: space-around;
      align-items: center;
  
      .btn {
        height: 41px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 8px;
  
        ion-label {
          font-size: 16px;
          font-weight: 500;
        }
      }
  
      .cancel {
        box-shadow: 0 3px 15px 0 #ededf0;
        background-color: #ffffff;
  
        ion-label {
          color: #000000;
        }
      }
  
      .confirm {
        box-shadow: 0 3px 15px 0 #ededf0;
        background-color: #6e23d0;
  
        ion-label {
          color: #ffffff;
        }
      }
    }
  }
  
  .darkContainer {
    background: #2b2c49;
  
    h1, h2, h3 {
      color: #ffffff;
    }
  
    h4 {
      color: #8888b0;
    }
  
    .btn-row {
  
      .cancel {
        box-shadow: 0 3px 6px 0 #151626;
        background-color: #202039;
  
        ion-label {
          color: #ffffff;
        }
      }
  
      .confirm {
        box-shadow: 0 3px 15px 0 #151626;
      }
    }
  }

  ion-footer {
    padding: 10px 10px 40px;

    .btn-row {
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
    
        .btn {
            height: 47px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 8px;
        
                ion-label {
                    font-size: 17px;
                    font-weight: 500;
                }
            }
        
            .cancel {
                box-shadow: 0 3px 15px 0 #ededf0;
                background-color: #ffffff;
        
                ion-label {
                    color: #000000;
                }
            }
        
            .confirm {
                box-shadow: 0 3px 15px 0 #ededf0;
                background-color: #6e23d0;
            
                ion-label {
                    color: #ffffff;
            }
        }
    }
}

.dark-footer {
    .btn-row {
        .cancel {
            box-shadow: 0 3px 6px 0 #151626;
            background-color: #202039;

            ion-label {
                color: #ffffff;
            }
        }

        .confirm {
            box-shadow: 0 3px 15px 0 #151626;
        }
    }
}
  
   */

@import "../../../functions.scss";

.text-right {
    text-align: right;
}
.bottom-border {
    border-bottom: 1px solid #dddddd;
}
.top-border {
    border-top: 1px solid #dddddd;
}
.font-size-1 {
    font-size: 16px;
}

ion-note {
    font-size: 12px;
}

ion-icon {
    margin-left: px2rem(20px);
    width: px2rem(32px);
    height: px2rem(32px);
}

.intro {
    font-size: 2em;
    margin:14vw;
}

.number-of-idchain {
    font-size: 1.7em;
    margin-top: 20px;
}

.number-of-idchain-value {
    font-weight: bold;
    font-size: 2.2em;
    margin: 5px;
}

.notes {
    margin-top: 5vh;
}

.note {
    text-transform: uppercase;
    font-weight: bold;
    font-size:1.2em;
}

.note-entry {
    margin-bottom:10px;
}