<ion-header>
    <header-bar title={{title}} [showBack]="false" [showMinimize]="false" [showClose]="false"></header-bar>
</ion-header>

<ion-content>
    <div>
        <div id="home-top-box">
            <div id="wallet-bar">
                <div id="wallet-name" class="line-limit-length"> {{Config.curMaster.name}}
                    <span
                        *ngIf="Config.curMaster.account['Type']==='Standard'">{{'text-standard-wallet' | translate}}</span>
                    <span
                        *ngIf="Config.curMaster.account['Type']==='Multi-Sign'">{{'text-multi-wallet' | translate}}</span>
                </div>
            </div>
            <div class="valuation">{{Config.curMaster.totalBalance/SELA}}</div>
        </div>

        <div id="home-list-box" *ngIf="!exportMnemonic">
            <ion-list lines="none">
                <ion-list-header>
                    <div>{{'ela-address' | translate}}</div>
                </ion-list-header>

                <div class="ion-text-center">
                    <!-- <ion-item [routerLink]="['/address', chainId]" routerDirection="forward"> -->
                    <ion-label id="ela-address">{{elaAddress}}</ion-label>
                    <!-- </ion-item> -->
                </div>
            </ion-list>
        </div>

        <div id="requst-box">
            <ion-list-header>
                <div>{{'requester' | translate}}</div>
            </ion-list-header>
            <div class="ion-text-center">
                <ion-label>{{requestDapp.name}}</ion-label>
            </div>
            <div id="reason" class="ion-text-center" *ngIf="requestDapp.reason!=''">
                <ion-label>{{requestDapp.reason}}</ion-label>
            </div>
        </div>

        <div id="access-mnemonic-info" *ngIf="exportMnemonic">
            <ion-item lines="none">
                <img src="assets/images/onboarding-warning.svg">
                <ion-label id="warning" solt="end">{{ 'text-warning' | translate }}</ion-label>
            </ion-item>
            <ion-item text-wrap lines="none">
                <span id="warning-info"> {{ 'text-share-mnemonic-warning' | translate }}</span>
            </ion-item>
        </div>
    </div>

</ion-content>

<ion-footer>
    <ion-button class="ion-no-margin" style="width:50%" fill="clear" color="medium" size="large"
        (click)="cancelOperation()">{{ 'cancel' | translate }}</ion-button>
    <ion-button class="ion-no-margin" style="width:50%" fill="clear" color="primary" size="large" (click)="onShare()">
        {{ 'text-allow' | translate }}</ion-button>
</ion-footer>