<ion-header>
  <header-bar title="access"></header-bar>
</ion-header>

<ion-content>
  <div>
      <div id="home-top-box">
          <div id="wallet-bar">
              <div id="wallet-name" class="line-limit-length"> {{Config.curMaster.name}}
                  <span *ngIf="Config.curMaster.account['Type']==='Standard'">{{'text-standard-wallet' | translate}}</span>
                  <span *ngIf="Config.curMaster.account['Type']==='Multi-Sign'">{{'text-multi-wallet' | translate}}</span>
              </div>
          </div>
          <div class="valuation" >{{Config.curMaster.subWallet['ELA'].balance}}</div>
      </div>


      <div id="home-list-box">
        <ion-list>
          <ion-list-header>
            <div>{{'ela-address' | translate}}</div>
          </ion-list-header>

          <div>
            <!-- <ion-item [routerLink]="['/address', chainId]" routerDirection="forward"> -->
              <ion-label id="ela-address">{{elaAddress}}</ion-label>
              <!-- </ion-item> -->
            </div>
          </ion-list>
      </div>

      <div id="requst-box">
          <div>{{'requester' | translate}}</div>
          <div>
              <ion-label>{{requestDapp.name}}</ion-label>
          </div>
          <div *ngIf="requestDapp.reason!=''">
              <ion-label>{{requestDapp.reason}}</ion-label>
          </div>
      </div>
  </div>

</ion-content>

<ion-footer>
    <ion-button class="confirm" (click)="onShare()">{{ 'confirm' | translate }}</ion-button>
</ion-footer>