page-about {
    .text-right {
        text-align: right;
    }
    .text-center {
        text-align: center;
    }
    .margin-top {
        margin-top: 100px;
    }
    .bottom {
        width: 100%;
        position: fixed;
        bottom: 30px;
        left: 0;
    }
    #wrapper {
        width: 100%;
        height: 100%;
        display: table;
        text-align: center;
    }
    #cell {
        display: table-cell;
        vertical-align: middle;
        padding: 0px 10px;
    }
    .font-size-18 {
        font-size: 18px;
    }
    .font-size-20 {
        font-size: 20px;
    }
    .text-left {
        text-align: left;
    }
    .text-right {
        text-align: right;
    }
}