<ion-content *ngIf="chainId">
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content 
            class="refresh"
            pullingText="Update Wallet"
            pullingIcon="arrow-dropdown" 
            refreshingSpinner="bubbles"
            refreshingText="Updating Wallet..."
        >
        </ion-refresher-content>
    </ion-refresher>
    <ion-grid class="container" [class.dark-container]="theme.darkMode">
        <ion-row class="main-title-row">
            <ion-col size="12">
                <h1>{{ 'coin-overview' | translate: {coinName: walletManager.activeMasterWallet.subWallets[chainId].id} }}</h1>
                <p>{{ 'coin-new-transactions-today' | translate:{todaysTransactions: todaysTransactions} }}</p>
            </ion-col>
        </ion-row>
        <ion-row [class]="getSubwalletClass()">
            <ion-row class="card-label-row">
                <h1>
                    <span>{{ getSubwalletTitle() }}</span>
                    {{ 'coin-balance' | translate }}</h1>
                <h2>
                    {{ 'synchronized' | translate : {progress: walletManager.activeMasterWallet.subWallets[chainId].progress} }}
                </h2>
                <h3>{{ 'total-amount' | translate }}</h3>
                <h4>
                    {{ Util.getWholeBalance(walletManager.activeMasterWallet.subWallets[chainId].balance/SELA) }}<span class="dot" *ngIf="walletManager.activeMasterWallet.subWallets[chainId].balance/SELA !== 0">.</span>
                    <span class="decimals">{{ Util.getDecimalBalance(walletManager.activeMasterWallet.subWallets[chainId].balance/SELA) }}</span>
                    <span class="ela">  ELA</span>
                </h4>
            </ion-row>
            <ion-row class="card-btn-row">
                <ion-col size="3" *ngIf="!coinCanBeTransferred()"></ion-col>
                <ion-col size="3" *ngIf="coinCanBeTransferred()">
                    <div class="ion-activatable btn-box" (click)="rechargeFunds()">
                        <ion-img class="transfer" src="assets/buttons/transfer.png"></ion-img>
                        <ion-ripple-effect></ion-ripple-effect>
                    </div>
                    <p class="btn-label">{{ 'coin-action-transfer' | translate }}</p>
                </ion-col>
                <ion-col offset="0.25" size="3" (click)="sendFunds()">
                    <div class="ion-activatable btn-box">
                        <ion-img class="send" src="assets/buttons/send.png"></ion-img>
                        <ion-ripple-effect></ion-ripple-effect>
                    </div>
                    <p class="btn-label">{{ 'coin-action-send' | translate }}</p>
                </ion-col>
                <ion-col offset="0.25" size="3">
                    <div class="ion-activatable btn-box" (click)="receiveFunds()">
                        <ion-img class="receive" src="assets/buttons/receive.png"></ion-img>
                        <ion-ripple-effect></ion-ripple-effect>
                    </div>
                    <p class="btn-label">{{ 'coin-action-receive' | translate }}</p>
                </ion-col>
            </ion-row>
            <div class="arrow-down"></div>
        </ion-row>
        <ion-row class="list-title-row">
            <ion-col size="12">
                <h1>{{ 'coin-transactions' | translate }}</h1>
            </ion-col>
        </ion-row>
        <div *ngIf="transferList.length > 0">
            <ion-row
                class="item-row ripple ion-activatable"
                *ngFor="let item of transferList"
                (click)="onItem(item)"
            >
                <ion-col size="2" class="left-col">
                    <div
                        class="icon-container"
                        [class.purple]="item.type === 1"
                        [class.black]="item.type === 2"
                        [class.orange]="item.type === 3"
                    >
                        <ion-img [src]="item.payStatusIcon"></ion-img>
                    </div>
                </ion-col>
                <ion-col [size]="item.resultAmount === 0 ? 6 : 5" class="middle-col">
                    <h1>{{ item.name | translate }}</h1>
                    <p>{{ item.datetime }}</p>
                </ion-col>
                <ion-col [size]="item.resultAmount == 0 ? 4 : 5" class="right-col">
                    <h1>{{ item.symbol }}{{ item.resultAmount }}</h1>
                    <p>
                        {{ currencyService.getCurrencyBalance(item.resultAmount) }} 
                        {{ currencyService.selectedCurrency.symbol }}
                    </p>
                </ion-col>
                <ion-ripple-effect></ion-ripple-effect>
            </ion-row>
        </div>
        <div class="empty-list" *ngIf="transferList.length === 0">
            <img src="assets/icons/warning.svg"/>
            <h1>{{ 'coin-no-transactions' | translate }}</h1>
        </div>
        <div class="more" (click)="clickMore()" *ngIf="isShowMore">
            {{ 'click-to-load-more' | translate }}
        </div>

            <!-- <ion-row class="item-row ripple ion-activatable">
                <ion-col size="2" class="left-col">
                    <div class="icon-container purple">
                        <ion-img src="./assets/buttons/receive.png"></ion-img>
                    </div>
                </ion-col>
                <ion-col size="5" class="middle-col">
                    <h1>Received ELA</h1>
                    <p>3 days ago</p>
                </ion-col>
                <ion-col [size]="5" class="right-col">
                    <h1>+6</h1>
                    <p>
                        {{ currencyService.getCurrencyBalance(6) }} 
                        {{ currencyService.selectedCurrency.symbol }}
                    </p>
                </ion-col>
                <ion-ripple-effect></ion-ripple-effect>
            </ion-row>
            <ion-row class="item-row ripple ion-activatable">
                <ion-col size="2" class="left-col">
                    <div class="icon-container black">
                        <ion-img src="./assets/buttons/send.png"></ion-img>
                    </div>
                </ion-col>
                <ion-col size="5" class="middle-col">
                    <h1>Sent ELA</h1>
                    <p>5 days ago</p>
                </ion-col>
                <ion-col [size]="5" class="right-col">
                    <h1>-100</h1>
                    <p>
                        {{ currencyService.getCurrencyBalance(100) }} 
                        {{ currencyService.selectedCurrency.symbol }}
                    </p>
                </ion-col>
                <ion-ripple-effect></ion-ripple-effect>
            </ion-row>
            <ion-row class="item-row ripple ion-activatable">
                <ion-col size="2" class="left-col">
                    <div class="icon-container orange">
                        <ion-img src="./assets/buttons/transfer.png"></ion-img>
                    </div>
                </ion-col>
                <ion-col size="5" class="middle-col">
                    <h1>Transferred ELA</h1>
                    <p>9 days ago</p>
                </ion-col>
                <ion-col [size]="5" class="right-col">
                    <h1>21</h1>
                    <p>
                        {{ currencyService.getCurrencyBalance(21) }} 
                        {{ currencyService.selectedCurrency.symbol }}
                    </p>
                </ion-col>
                <ion-ripple-effect></ion-ripple-effect>
            </ion-row>
            <div class="more" (click)="clickMore()">
                {{ 'click-to-load-more' | translate }}
            </div>  -->
    </ion-grid>
</ion-content>
