<ion-content *ngIf="chainId">
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)" *ngIf="!isNodata">
        <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="" refreshingSpinner="circles"
            refreshingText="">
        </ion-refresher-content>
        <ion-refresher-content>
        </ion-refresher-content>
    </ion-refresher>

    <div class="coin-info-top-box">
        <h2>{{walletManager.activeMasterWallet.subWallets[chainId].balance/SELA}}</h2>
        <p>{{walletManager.activeMasterWallet.subWallets[chainId].lastblocktime}} </p>
        <p id="progress">{{walletManager.activeMasterWallet.subWallets[chainId].progress}}%</p>
    </div>

    <div id="nodata" *ngIf="isNodata">{{'no-tx-record' | translate }}</div>

    <ion-list *ngIf="!isNodata" lines="none">
        <div *ngFor="let item of transferList; let i = index">
            <ion-item (click)="onItem(item)">
                <img src={{item.payStatusIcon}} />
                <ion-label id="coin-name">
                    <h2 id="exchange-name">{{item.name | translate }}</h2>
                    <p *ngIf="item.timestamp!='0'" id="datatime">{{item.datetime}}</p>
                </ion-label>
                <ion-label solt="end" id="coin-value">
                    <h2 id="amount">{{item.symbol}} {{item.resultAmount}}</h2>
                    <p *ngIf="item.status!='Confirmed'" id="status">{{item.status | translate}}</p>
                </ion-label>
            </ion-item>
        </div>
    </ion-list>
    <div class="more" (click)="clickMore()" *ngIf="isShowMore">{{ 'click-to-load-more' | translate }}</div>
</ion-content>
<ion-footer>
    <div class="coin-bottom">
        <ion-button (click)="receiveFunds()">{{ 'text-receive' | translate }}</ion-button>
        <ion-button (click)="rechargeFunds(3)" *ngIf="chainIsELA()">{{ 'text-recharge' | translate }}</ion-button>
        <ion-button (click)="withdrawFunds(3)" *ngIf="!chainIsELA()">{{ 'text-withdraw' | translate }}</ion-button>
        <ion-button (click)="transferFunds()">{{ 'text-transfer' | translate }}</ion-button>
    </div>
</ion-footer>