<div class="view">
    <div class="arrow_mask" (click)=click_close()></div>
    <div class="kuang">
        <p class="pay-box-title">{{'transfer-info' | translate}}
            <img class="close" src="./assets/images/icon/icon-close.svg" (click)="click_close()">
        </p>

        <ion-list>
            <ion-item *ngIf="toAddress!=''">
                <ion-label class="left">{{'transfer-address' | translate}}:</ion-label>
                <ion-label class="right" id="address" slot="end">{{toAddress}}</ion-label>
            </ion-item>
            <ion-item *ngIf="transfer.amount">
                <ion-label class="left">{{'text-price' | translate}}:</ion-label>
                <ion-label class="right" slot="end">{{transfer.amount}}</ion-label>
            </ion-item>
            <ion-item *ngIf="transfer.fee">
                <ion-label class="left">{{'text-fees' | translate}}:</ion-label>
                <ion-label class="right" slot="end">{{transfer.fee/SELA}}</ion-label>
            </ion-item>
            <ion-item *ngIf="transfer.rate">
                <ion-label class="left">{{'text-rate' | translate}}:</ion-label>
                <ion-label class="right" slot="end">1 : {{transfer.rate}}</ion-label>
            </ion-item>
            <ion-item>
                <ion-label class="left">{{'paypassword' | translate}}:</ion-label>
                <ion-input slot="end" type="password" placeholder="{{ 'text-pay-password-input' | translate }}"
                    [(ngModel)]="transfer.payPassword"></ion-input>
            </ion-item>
        </ion-list>

        <div style="text-align: center">
            <ion-button class="confirm" (click)="click_button()">{{ 'confirm' | translate }}</ion-button>
        </div>
    </div>
</div>