<ion-header>
    <ion-navbar>
        <ion-title style="text-align:center">{{'text-wallet-manager' | translate}}</ion-title>
    </ion-navbar>
</ion-header>
<ion-content no-bounce>
    <ion-list>
        <button ion-item (click)="onItem(4)">
      <ion-icon item-start>
        <img src="assets/images/icon-wallet.svg" width="22">
      </ion-icon>
      <ion-label>
        <span>{{'wallet-name' | translate}}</span>
      </ion-label>
      <ion-note *ngIf="walletName" item-end>
        {{ walletName }}
      </ion-note>
    </button>

        <button ion-item (click)="onItem(3)" *ngIf="singleAddress && !readonly">
      <ion-icon item-start>
        <img src="assets/images/icon-language.svg" width="22">
      </ion-icon>
      <ion-label>
        <span>{{'text-check-publickey' | translate }}</span>
      </ion-label>
    </button>

        <button ion-item (click)="onItem(0)">
      <ion-icon item-start>
        <img src=" assets/images/icon-export.svg " width="22 ">
      </ion-icon>
      <ion-label>
        <span>{{'wallet-export' | translate}}</span>
      </ion-label>
    </button>

        <button ion-item (click)="onItem(5)" *ngIf="readonly!='Readonly'&&readonly!='simple'">
        <ion-icon item-start>
          <img src=" assets/images/icon-export.svg " width="22 ">
        </ion-icon>
        <ion-label>
          <span>{{'text-export-mnemomic' | translate}}</span>
        </ion-label>
      </button>

        <button ion-item (click)="onItem(1)" *ngIf="readonly!='Readonly'">
      <ion-icon item-start>
        <img src=" assets/images/icon-aletr.svg " width="22 ">
      </ion-icon>
      <ion-label>
        <span>{{'wallet-password-reset' | translate}}</span>
      </ion-label>
    </button>

        <!-- <button ion-item (click)="onItem(2)">
      <ion-icon item-start>
        <img src=" assets/images/icon-del.svg " width="22 ">
      </ion-icon>
      <ion-label>
        <span style="color:#ff0000">{{'wallet-delete' | translate}}</span>
      </ion-label>
    </button> -->

        <ion-item (click)="onItem(2)">
            <ion-icon item-start>
                <img src=" assets/images/icon-del.svg " width="22 ">
            </ion-icon>
            <ion-label>
                <span style="color:#ff0000">{{'wallet-delete' | translate}}</span>
            </ion-label>
        </ion-item>
    </ion-list>
</ion-content>