<ion-content>
    <ion-grid class="container ion-no-padding ion-no-margin" [class.darkContainer]="theme.darkMode">
        <ion-row>
            <ion-input
                #input
                autosize
                clearInput
                [placeholder]="'wallet-edit-name-new-name' | translate"
                [(ngModel)]="walletname"
                mode="ios"
            >
            </ion-input>
        </ion-row>
        <ion-row class="btn-container">
            <ion-button color="primary" (click)="modify()">
                <ion-label>{{ 'confirm' | translate }}</ion-label>
            </ion-button>
        </ion-row>
    </ion-grid>
</ion-content>

<!-------------------- OLD WALLET -------------------->
<!-- <ion-header>
    <header-bar title="modify-wallet-name"></header-bar>
</ion-header>

<ion-content padding>
    <ion-list lines="none">
        <ion-item>
            <ion-input type="text" placeholder="" [(ngModel)]="walletname"></ion-input>
        </ion-item>
    </ion-list>
</ion-content>
<ion-footer>
    <ion-button class="confirm" (click)="modify()" full>{{ 'confirm' | translate }}</ion-button>
</ion-footer> -->