@import "../../../functions.scss";

.fingerprint-div {
    margin-top:px2rem(200px);
}

.fingerprint-large {
    height:px2rem(100px);
    margin-bottom:px2rem(40px);
}

.touch-fingerprint {
    margin-top:px2rem(200px);
    font-size:px2rem(36px);
    color: #918EFF;
}

.click-fingerprint-prompt {
    margin-bottom:px2rem(80px);
    font-size:px2rem(36px);
    color: #918EFF;
}