<ion-header>
    <header-bar title="paypassword-reset"></header-bar>
</ion-header>

<ion-content no-bounce>
    <ion-list>

        <ion-item>
            <ion-label stacked>{{ 'updatepaypassword-origin_paypassword1-title' | translate }}</ion-label>
        </ion-item>

        <ion-item>
            <ion-input type="password"
                placeholder="{{ 'updatepaypassword-origin_paypassword1-placeholder' | translate }}"
                [(ngModel)]="oldPayPassword"></ion-input>
        </ion-item>


        <ion-item>
            <ion-label stacked>{{ 'updatepaypassword-paypassword1-title' | translate }}</ion-label>
            <ion-note slot="end">{{ 'text-pwd-validator' | translate }}</ion-note>
        </ion-item>
        <ion-item>
            <ion-input type="password" placeholder="{{ 'updatepaypassword-paypassword1-placeholder' | translate }}"
                [(ngModel)]="payPassword"></ion-input>
        </ion-item>

        <ion-item>
            <ion-input type="password" placeholder="{{ 'updatepaypassword-paypassword2-placeholder' | translate }}"
                [(ngModel)]="rePayPassword"></ion-input>
        </ion-item>

    </ion-list>
</ion-content>
<ion-footer>
    <ion-button class="confirm" (click)="onSubmit()">{{ 'text-submit' | translate }}</ion-button>
</ion-footer>