<ion-header>
    <header-bar title="paypassword-reset"></header-bar>
</ion-header>

<ion-content no-bounce>
    <div *ngIf="useFingerprintAuthentication">
        <div class="fingerprint-div" *ngIf="!fingerprintPluginAuthenticationOnGoing && oldPayPassword == ''">
            <div class="click-fingerprint-prompt ion-text-center">
                <ion-label>{{'click-fingerprint-prompt' | translate}}</ion-label>
            </div>
            <ion-img src="assets/images/fingerprint-24px.svg" class="fingerprint-large text-align-center" (click)="promptFingerprintAuthentication()"></ion-img>

            <ion-item lines="none">
                <ion-label>{{'use-fingerprint-authentication' | translate}}</ion-label>
                <ion-toggle (ionChange)="disableFingerprintAuthentication()" checked="true"></ion-toggle>
            </ion-item>
        </div>
    </div>

    <ion-list *ngIf="!useFingerprintAuthentication" lines="none">
        <ion-item>
            <ion-label stacked>{{ 'updatepaypassword-origin_paypassword1-title' | translate }}</ion-label>
        </ion-item>

        <ion-item>
            <ion-input type="password"
                placeholder="{{ 'updatepaypassword-origin_paypassword1-placeholder' | translate }}"
                [(ngModel)]="oldPayPassword"></ion-input>
        </ion-item>
    </ion-list>

    <ion-list *ngIf="!useFingerprintAuthentication || oldPayPassword != ''" lines="none">
        <ion-item>
            <ion-label stacked>{{ 'updatepaypassword-paypassword1-title' | translate }}</ion-label>
            <ion-note slot="end">{{ 'text-pwd-validator' | translate }}</ion-note>
        </ion-item>
        <ion-item>
            <ion-input type="password" placeholder="{{ 'updatepaypassword-paypassword1-placeholder' | translate }}"
                [(ngModel)]="payPassword"></ion-input>
        </ion-item>

        <ion-item>
            <ion-input type="password" placeholder="{{ 'updatepaypassword-paypassword2-placeholder' | translate }}"
                [(ngModel)]="rePayPassword"></ion-input>
        </ion-item>
    </ion-list>
</ion-content>
<ion-footer>
    <ion-button class="confirm" (click)="onSubmit()">{{ 'text-submit' | translate }}</ion-button>
</ion-footer>