<ion-content>
    <ion-grid class="ion-text-center container">
        <p>
            Type your mnemonic sequence
            of words to import your wallet. 
        </p>
        <ion-slides #slider pager [options]="slideOpts">
            <ion-slide>
                <ion-row>
                    <ion-col size="1">
                        <span>1.</span>
                    </ion-col>
                    <ion-col class='input-col' size="10">
                        <ion-input
                            type="text"
                            [(ngModel)]="word1"
                            (ngModelChange)="inputChanged($event)"
                        >
                        </ion-input>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size="1">
                        <span>2.</span>
                    </ion-col>
                    <ion-col class='input-col' size="10">
                        <ion-input
                            type="text"
                            [(ngModel)]="word2"
                            (ngModelChange)="inputChanged($event)"
                        >
                        </ion-input>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size="1">
                        <span>3.</span>
                    </ion-col>
                    <ion-col class='input-col' size="10">
                        <ion-input
                            type="text"
                            [(ngModel)]="word3"
                            (ngModelChange)="inputChanged($event)"
                        >
                        </ion-input>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size="1">
                        <span>4.</span>
                    </ion-col>
                    <ion-col class='input-col' size="10">
                        <ion-input
                            type="text"
                            [(ngModel)]="word4"
                            (ngModelChange)="inputChanged($event)"
                        >
                        </ion-input>
                    </ion-col>
                </ion-row>
            </ion-slide>
            <ion-slide>
                <ion-row>
                    <ion-col size="1">
                        <span>5.</span>
                    </ion-col>
                    <ion-col class='input-col' size="10">
                        <ion-input
                            type="text"
                            [(ngModel)]="word5"
                            (ngModelChange)="inputChanged($event)"
                        >
                        </ion-input>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size="1">
                        <span>6.</span>
                    </ion-col>
                    <ion-col class='input-col' size="10">
                        <ion-input
                            type="text"
                            [(ngModel)]="word6"
                            (ngModelChange)="inputChanged($event)"
                        >
                        </ion-input>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size="1">
                        <span>7.</span>
                    </ion-col>
                    <ion-col class='input-col' size="10">
                        <ion-input
                            type="text"
                            [(ngModel)]="word7"
                            (ngModelChange)="inputChanged($event)"
                        >
                        </ion-input>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size="1">
                        <span>8.</span>
                    </ion-col>
                    <ion-col class='input-col' size="10">
                        <ion-input
                            type="text"
                            [(ngModel)]="word8"
                            (ngModelChange)="inputChanged($event)"
                        >
                        </ion-input>
                    </ion-col>
                </ion-row>
            </ion-slide>
            <ion-slide>
                <ion-row>
                    <ion-col size="1">
                        <span>9.</span>
                    </ion-col>
                    <ion-col class='input-col' size="10">
                        <ion-input
                            type="text"
                            [(ngModel)]="word9"
                            (ngModelChange)="inputChanged($event)"
                        >
                        </ion-input>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size="1">
                        <span>10.</span>
                    </ion-col>
                    <ion-col class='input-col' size="10">
                        <ion-input
                            type="text"
                            [(ngModel)]="word10"
                            (ngModelChange)="inputChanged($event)"
                        >
                        </ion-input>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size="1">
                        <span>11.</span>
                    </ion-col>
                    <ion-col class='input-col' size="10">
                        <ion-input
                            type="text"
                            [(ngModel)]="word11"
                            (ngModelChange)="inputChanged($event)"
                        >
                        </ion-input>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size="1">
                        <span>12.</span>
                    </ion-col>
                    <ion-col class='input-col' size="10">
                        <ion-input
                            type="text"
                            [(ngModel)]="word12"
                            (ngModelChange)="inputChanged($event)"
                        >
                        </ion-input>
                    </ion-col>
                </ion-row>
            </ion-slide>
        </ion-slides> 
    
        <ion-row class="btn-container">
            <ion-button color="secondary" (click)="onImport()">
                <ion-label>{{ 'confirm' | translate }}</ion-label>
            </ion-button>
        </ion-row>
    </ion-grid>
</ion-content>

<!-------------------- OLD WALLET -------------------->
<!-- <ion-header>
    <header-bar title="launcher-backup-import"></header-bar>
</ion-header>

<ion-content no-bounce>
    <div>
        <ion-segment [(ngModel)]="selectedTab" (ionChange)="selectTab(selectedTab)">
            <ion-segment-button value="words">
                {{ 'text-mnemonic' | translate }}
            </ion-segment-button>
            <ion-segment-button value="file">
                {{ 'text-from-keystore' | translate }}
            </ion-segment-button>
        </ion-segment>
    </div>

    <div *ngIf="selectedTab == 'file'">
        <div class="kuangTextArea">
            <textarea rows="4" class="backupWalletTextArea"
                placeholder="{{ 'import-text-keystroe-message' | translate}}" [(ngModel)]="keyStoreContent"></textarea>
        </div>
        <ion-list lines="none">
            <ion-item>
                <ion-label stacked>{{ 'addwallet-walletname-title' | translate }}</ion-label>
                <ion-note slot="end">{{ 'text-wallet-name-validator' | translate }}</ion-note>
            </ion-item>
            <ion-item>
                <ion-input type="text" placeholder="{{ 'addwallet-walletname-placeholder' | translate }}"
                    [(ngModel)]="importFileObj.name"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label stacked>{{ 'importkeystore-keystorepassword-title' | translate }}</ion-label>
                <ion-input type="password" placeholder="{{ 'importkeystore-optionalpassword-placeholder' | translate }}"
                    [(ngModel)]="importFileObj.backupPassWord"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label stacked>{{ 'unlock-paypassword-title' | translate }}</ion-label>
                <ion-input type="password" placeholder="{{ 'addwallet-paypassword1-placeholder' | translate }}"
                    [(ngModel)]="importFileObj.payPassword"></ion-input>
            </ion-item>
            <ion-item>
                <ion-input type="password" placeholder="{{ 'addwallet-paypassword2-placeholder' | translate }}"
                    [(ngModel)]="importFileObj.rePayPassword"></ion-input>
            </ion-item>
        </ion-list>
    </div>

    <div *ngIf="selectedTab == 'words'">
        <div class="kuangTextArea">
            <textarea class="backupWalletTextArea" placeholder="{{ 'text-mnemonic-format' | translate}}" rows="4"
                [(ngModel)]="mnemonicObj.mnemonic"></textarea>
        </div>
        <ion-list lines="none">
            <ion-item>
                <ion-label stacked>{{ 'addwallet-walletname-title' | translate }}</ion-label>
                <ion-note slot="end">{{ 'text-wallet-name-validator' | translate }}</ion-note>
            </ion-item>
            <ion-item>
                <ion-input type="text" placeholder="{{ 'addwallet-walletname-placeholder' | translate }}"
                    [(ngModel)]="mnemonicObj.name"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label stacked>{{ 'unlock-paypassword-title' | translate }}</ion-label>
                <ion-note slot="end">{{ 'text-pwd-validator' | translate }}</ion-note>
            </ion-item>
            <ion-item>
                <ion-input type="password" placeholder="{{ 'addwallet-paypassword1-placeholder' | translate }}"
                    [(ngModel)]="mnemonicObj.payPassword"></ion-input>
            </ion-item>
            <ion-item>
                <ion-input type="password" placeholder="{{ 'addwallet-paypassword2-placeholder' | translate }}"
                    [(ngModel)]="mnemonicObj.rePayPassword"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label>{{'text-signaddress' | translate }}</ion-label>
                <my-toggle [(checked)]="mnemonicObj.singleAddress" (onChange)=updateSingleAddress($event)></my-toggle>
            </ion-item>
        </ion-list>

        <ion-item lines="none">
            <ion-label *ngIf="!showAdvOpts">{{'show-advanced-options' | translate}}</ion-label>
            <ion-label *ngIf="showAdvOpts"> {{'hide-advanced-options' | translate}}</ion-label>
            <my-toggle [checked]="showAdvOpts" (onChange)=toggleShowAdvOpts($event)></my-toggle>
        </ion-item>

        <ion-item *ngIf="showAdvOpts" lines="none">
            <ion-label stacked>{{ 'importmnes-optionalpassword-title' | translate }}</ion-label>
            <ion-input type="password" placeholder="{{ 'importmnes-optionalpassword-placeholder' | translate }}"
                [(ngModel)]="mnemonicObj.phrasePassword"></ion-input>
        </ion-item>
    </div>
</ion-content>

<ion-footer>
    <ion-button class="confirm" (click)="onImport()" full>{{ 'confirm' | translate }}</ion-button>
</ion-footer> -->