<ion-content>
    <ion-grid class="ion-text-center container">
        <p>
            Type your mnemonic sequence
            of words to import your wallet. 
        </p>
        <ion-slides #slider pager [options]="slideOpts">
            <ion-slide>
                <ion-row *ngFor="let word of inputList.slice(0,4); let i = index;">
                    <ion-col size="1">
                        <span>{{ i + 1 }}.</span>
                    </ion-col>
                    <ion-col class='input-col' size="10">
                        <ion-input
                            type="text"
                            [(ngModel)]="word.input"
                            (ngModelChange)="inputChanged($event)"
                        >
                        </ion-input>
                    </ion-col>
                </ion-row>
            </ion-slide>
            <ion-slide>
                <ion-row *ngFor="let word of inputList.slice(4,8); let i = index;">
                    <ion-col size="1">
                        <span>{{ 4 + i + 1 }}.</span>
                    </ion-col>
                    <ion-col class='input-col' size="10">
                        <ion-input
                            type="text"
                            [(ngModel)]="word.input"
                            (ngModelChange)="inputChanged($event)"
                        >
                        </ion-input>
                    </ion-col>
                </ion-row>
            </ion-slide>
            <ion-slide>
                <ion-row *ngFor="let word of inputList.slice(8, 12); let i = index;">
                    <ion-col size="1">
                        <span>{{ 8 + i + 1 }}.</span>
                    </ion-col>
                    <ion-col class='input-col' size="10">
                        <ion-input
                            type="text"
                            [(ngModel)]="word.input"
                            (ngModelChange)="inputChanged($event)"
                        >
                        </ion-input>
                    </ion-col>
                </ion-row>
            </ion-slide>
        </ion-slides> 
    
        <ion-row class="btn-container">
            <ion-button color="secondary" (click)="onImport()">
                <ion-label>{{ 'confirm' | translate }}</ion-label>
            </ion-button>
        </ion-row>
    </ion-grid>
</ion-content>
