ion-grid {
  min-height: 100%;
  padding: 30px 25px;

  ion-row {
    display: flex;
    justify-content: space-around;
    align-items: center;

    ion-col {
      border-radius: 100%;
      height: 74px;
      width: 74px;
      margin-bottom: 25px;
      position: relative;

      .check {
        position: absolute;
        z-index: 1;
        border-radius: 100%;
        height: 30px;
        width: 30px;
        bottom: -4px;
        right: -4px;
        display: flex;
        justify-content: center;
        align-items: center;

        ion-icon {
          height: 24px;
          width: 24px;
        }
      }
    }
  }

  .btn-container {
    margin-top: 25px;

    ion-button {
      width: 95%;
    }
  }
}