<!-- <ion-header>
    <header-bar title="text-add-wallet"></header-bar>
</ion-header>

<ion-content>
    <div id="wrapper">
        <div id="cell">
            <div>
                <ion-button expand="full" (click)="onNext(1)">
                    {{'launcher-create-wallet' | translate}}</ion-button>
            </div>
            <div>
                <ion-button expand="full" (click)="onNext(2)">
                    {{'launcher-backup-import' | translate}}</ion-button>
            </div>
            <div id="warn">
                <ion-icon slot="start" name="alert"></ion-icon>
                <ion-label expand="full" >
                    {{'launcher-warning-title' | translate}}</ion-label>
            </div>
            <div>
                <ion-label expand="full" >
                    {{'launcher-warning' | translate}}</ion-label>
            </div>
        </div>
    </div>
</ion-content> -->

<ion-content>
    <ion-grid class="container">
        <img src="assets/onboard/wallet.svg"/>
        <h1>Secure Wallet for<br>The Elastos ecosystem</h1>
        <ion-row class="btn-container">
            <ion-button color="secondary" (click)="onNext(1)">
                <ion-label>Get Started</ion-label>
            </ion-button>
        </ion-row>
        <p (click)="onNext(2)">Already got a Wallet? Import it.</p>
    </ion-grid>
</ion-content>