<ion-header>
    <header-bar title="text-add-wallet"></header-bar>
</ion-header>

<ion-content>
    <div id="wrapper">
        <div id="cell">
            <div>
                <ion-button expand="full" (click)="onNext(1)">
                    {{'launcher-create-wallet' | translate}}</ion-button>
            </div>
            <div>
                <ion-button expand="full" (click)="onNext(2)">
                    {{'launcher-backup-import' | translate}}</ion-button>
            </div>
            <!-- <div>
                <ion-button expand="full" (click)="onNext(3)">
                    {{'signature-wallet' | translate}}</ion-button>
            </div> -->
        </div>
    </div>
</ion-content>