<!--
  Generated template for the PointvotePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <ion-title>{{'super-point'|translate}}</ion-title>
    </ion-navbar>

</ion-header>

<ion-content padding>
    <!-- <ion-row align-items-center padding-bottom>
        <ion-col col-4>
            {{'voting-ratio'|translate}}：
        </ion-col>

        <ion-col col-8>
            <progress-bar proportion="{{idChainPer}}"></progress-bar>
        </ion-col>
    </ion-row> -->
    <div *ngFor="let item of voteList">
        <ion-row class="vote_data" align-items-center *ngIf="item['active']">
            <ion-col col-2 class=" text-center ">
                <div class="duigou">
                    <ion-checkbox [(ngModel)]="selectVoteObj[item.ownerpublickey]" (ionChange)="setSelect(selectVoteObj[item.ownerpublickey],item.ownerpublickey)"></ion-checkbox>
                </div>
            </ion-col>
            <!-- <ion-col col-2>
            <div class="logo "><img src="./assets/images/vote/logo_yuan.png "></div>
        </ion-col> -->
            <ion-col col-4 class="text-center ">
                <div class="address ">{{item.nickname}}</div>
                <div class="fu "><span><img src="./assets/images/vote/location.png "></span>{{getCountryByCode(item.location)|translate}}</div>
            </ion-col>

            <ion-col col-6 class="text-center">
                <div class="rank ">NO.{{(item.index+1)}}</div>
                <div class="rate "><span><img src="./assets/images/vote/rate.png "></span>{{item.votes}} {{'ticket'|translate}}</div>
            </ion-col>

            <!-- <ion-col col-1>
            <div class="del">
                <img src="./assets/images/vote/delete.png ">
            </div>
        </ion-col> -->

        </ion-row>
    </div>
</ion-content>
<ion-footer>
    <ion-row class="border-top ">
        <ion-col col class="rule-vote ">
            <ion-checkbox [(ngModel)]="isAllchecked" class="vertical-align" (click)="setSelectAll()"></ion-checkbox>{{'all-election'|translate}}(<span class="thirty ">30</span>/<span class="all ">{{selectNum}}</span>)</ion-col>
        <ion-col col class="rule-vote " align-self-center><span class="chose ">{{selectNum}}</span>{{'have-chosen'|translate}}</ion-col>
        <ion-col col class="rule-vote2 " [ngClass]="{ 'bule':selectNum> 0}" (click)="vote()">{{'vote-immediately'|translate}}</ion-col>
    </ion-row>
</ion-footer>