.container {
  min-height: 100%;
  padding: 20px;

  .main-title-row {
    margin-bottom: 10px;
    margin-left: 5px;

    p {
      margin: 0;
      font-size: 13px;
      font-weight: 500;
      line-height: 1;
      letter-spacing: -0.33px;
      text-align: left;
      color: #818181;
    }
  }

  .item-row {
    width: 100%;
    border-radius: 17px;
    padding: 7.5px 10px 7.5px 0;
    margin-bottom: 7.5px;
    box-shadow: 0 3px 15px 0 #ededf0;
    background-color: #ffffff;

    h1, p {
      margin: 0;
    }

    h1 {
      font-size: 14px;
      font-weight: 600;
      letter-spacing: 0.7px;
      text-align: left;
    }

    p {
      font-size: 13px;
      font-weight: 400;
      padding-top: 3px;
      text-align: left;
    }
    
    .left-col {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-left: 10px;

      ion-img {
        width: 40px;
        height: 40px;
        object-fit: contain;
      }
    }
    
    .middle-col, .right-col {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        overflow: hidden;
    }
    
    .right-col {
      align-items: flex-end;
  
      ion-icon {
        width: 30px;
        height: 30px;
      }
    }
  }
}

.dark-container {
  .main-title-row {
    p {
      color: #8888b0
    }
  }

  .item-row {
    box-shadow: 0 3px 15px 0 #151626;
    background-color: #2b2c49;      
  }
}