<ion-content>
    <!-- NEW DESIGN SECOND DRAFT -->
<!--     <ion-slides>
        <ion-slide class="container" [class.dark-container]="theme.darkMode">
            <ion-row class="main-title-row">
                <ion-col size="12">
                    <ion-label id="page-label">ELA Overview</ion-label>
                </ion-col>
            </ion-row>
            <ion-row class="card-row">
                <ion-row class="card-label-row"> 
                    <h1>ELA Mainchain Balance</h1>
                    <h2>100% Sync</h2>
                    <h3>TOTAL AMOUNT</h3>
                    <h4>500<span class="dot">.</span>
                        <span class="decimals">0000</span>
                        <span class="ela">  ELA</span>
                    </h4>
                </ion-row>
                <ion-row class="card-btn-row">
                    <ion-col size="3">
                        <div class="btn-box">
                            <ion-img class="transfer" src="assets/buttons/transfer.png"></ion-img>
                        </div>
                        <p class="btn-label">TRANSFER</p>
                    </ion-col>
                    <ion-col offset="0.25" size="3">
                        <div class="btn-box">
                            <ion-img class="send" src="assets/buttons/send.png"></ion-img>
                        </div>
                        <p class="btn-label">SEND</p>
                    </ion-col>
                    <ion-col offset="0.25" size="3">
                        <div class="btn-box">
                            <ion-img class="receive" src="assets/buttons/receive.png"></ion-img>
                        </div>
                        <p class="btn-label">RECEIVE</p>
                    </ion-col>
                </ion-row>
                <div class="arrow-down"></div>
            </ion-row>
            <ion-row class="tx-title-row">
                <ion-col size="12">
                    <ion-label id="transaction-label">Transactions</ion-label>
                </ion-col>
            </ion-row>
            <ion-row class="tx-row">
                <ion-col size="2" class="left-col">
                    <div class="icon-container receive">
                        <ion-img src="assets/buttons/receive.png"></ion-img>
                    </div>
                </ion-col>
                <ion-col size="8" class="middle-col">
                    <h1>Received ELA</h1>
                    <p>March 10th 2020</p>
                </ion-col>
                <ion-col size="2" class="right-col">
                    <h1>-0.1</h1>
                </ion-col>
            </ion-row>
            <ion-row class="tx-row">
                <ion-col size="2" class="left-col">
                    <div class="icon-container send">
                        <ion-img src="assets/buttons/send.png"></ion-img>
                    </div>
                </ion-col>
                <ion-col size="8" class="middle-col">
                    <h1>Sent ELA</h1>
                    <p>March 10th 2020</p>
                </ion-col>
                <ion-col size="2" class="right-col">
                    <h1>-0.1</h1>
                </ion-col>
            </ion-row>
            <ion-row class="tx-row">
                <ion-col size="2" class="left-col">
                    <div class="icon-container transfer">
                        <ion-img src="assets/buttons/transfer.png"></ion-img>
                    </div>
                </ion-col>
                <ion-col size="8" class="middle-col">
                    <h1>Transfered ELA</h1>
                    <p>March 10th 2020</p>
                </ion-col>
                <ion-col size="2" class="right-col">
                    <h1>-0.1</h1>
                </ion-col>
            </ion-row>
            <ion-row class="tx-row">
                <ion-col size="2" class="left-col">
                    <div class="icon-container receive">
                        <ion-img src="assets/buttons/receive.png"></ion-img>
                    </div>
                </ion-col>
                <ion-col size="8" class="middle-col">
                    <h1>Received ELA</h1>
                    <p>March 10th 2020</p>
                </ion-col>
                <ion-col size="2" class="right-col">
                    <h1>-0.1</h1>
                </ion-col>
            </ion-row>
            <ion-row class="tx-row">
                <ion-col size="2" class="left-col">
                    <div class="icon-container send">
                        <ion-img src="assets/buttons/send.png"></ion-img>
                    </div>
                </ion-col>
                <ion-col size="8" class="middle-col">
                    <h1>Sent ELA</h1>
                    <p>March 10th 2020</p>
                </ion-col>
                <ion-col size="2" class="right-col">
                    <h1>-0.1</h1>
                </ion-col>
            </ion-row>
            <ion-row class="tx-row">
                <ion-col size="2" class="left-col">
                    <div class="icon-container transfer">
                        <ion-img src="assets/buttons/transfer.png"></ion-img>
                    </div>
                </ion-col>
                <ion-col size="8" class="middle-col">
                    <h1>Transfered ELA</h1>
                    <p>March 10th 2020</p>
                </ion-col>
                <ion-col size="2" class="right-col">
                    <h1>-0.1</h1>
                </ion-col>
            </ion-row>
        </ion-slide>
    </ion-slides>
 -->

    <!-- NEW DESIGN FIRST DRAFT -->
    <!-- <ion-grid class="container" [class.dark-container]="theme.darkMode">
        <ion-row class="main-title-row">
            <ion-col size="12">
                <ion-label id="page-label">ELA Overview</ion-label>
            </ion-col>
        </ion-row>
        <ion-row class="card-row">
            <ion-row class="card-label-row"> 
                <h1>ELA Mainchain Balance</h1>
                <h2>100% Sync</h2>
                <h3>TOTAL AMOUNT</h3>
                <h4>500<span class="dot">.</span>
                    <span class="decimals">0000</span>
                    <span class="ela">  ELA</span>
                </h4>
            </ion-row>
            <ion-row class="card-btn-row">
                <ion-col size="3">
                    <div class="btn-box">
                        <ion-img class="transfer" src="assets/buttons/transfer.png"></ion-img>
                    </div>
                    <p class="btn-label">TRANSFER</p>
                </ion-col>
                <ion-col offset="0.25" size="3">
                    <div class="btn-box">
                        <ion-img class="send" src="assets/buttons/send.png"></ion-img>
                    </div>
                    <p class="btn-label">SEND</p>
                </ion-col>
                <ion-col offset="0.25" size="3">
                    <div class="btn-box">
                        <ion-img class="receive" src="assets/buttons/receive.png"></ion-img>
                    </div>
                    <p class="btn-label">RECEIVE</p>
                </ion-col>
            </ion-row>
            <div class="arrow-down"></div>
        </ion-row>
        <ion-row class="tx-title-row">
            <ion-col size="12">
                <ion-label id="transaction-label">Transactions</ion-label>
            </ion-col>
        </ion-row>
        <ion-row class="tx-row">
            <ion-col size="2" class="left-col">
                <div class="icon-container receive">
                    <ion-img src="assets/buttons/receive.png"></ion-img>
                </div>
            </ion-col>
            <ion-col size="8" class="middle-col">
                <h1>Received ELA</h1>
                <p>March 10th 2020</p>
            </ion-col>
            <ion-col size="2" class="right-col">
                <h1>-0.1</h1>
            </ion-col>
        </ion-row>
        <ion-row class="tx-row">
            <ion-col size="2" class="left-col">
                <div class="icon-container send">
                    <ion-img src="assets/buttons/send.png"></ion-img>
                </div>
            </ion-col>
            <ion-col size="8" class="middle-col">
                <h1>Received ELA</h1>
                <p>March 10th 2020</p>
            </ion-col>
            <ion-col size="2" class="right-col">
                <h1>-0.1</h1>
            </ion-col>
        </ion-row>
        <ion-row class="tx-row">
            <ion-col size="2" class="left-col">
                <div class="icon-container transfer">
                    <ion-img src="assets/buttons/transfer.png"></ion-img>
                </div>
            </ion-col>
            <ion-col size="8" class="middle-col">
                <h1>Received ELA</h1>
                <p>March 10th 2020</p>
            </ion-col>
            <ion-col size="2" class="right-col">
                <h1>-0.1</h1>
            </ion-col>
        </ion-row>
    </ion-grid> -->

    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="" refreshingSpinner="circles"
            refreshingText="">
        </ion-refresher-content>
        <ion-refresher-content>
        </ion-refresher-content>
    </ion-refresher>

    <div *ngIf="walletManager.activeMasterWallet">
        <div id="home-top-box" [routerLink]="['/wallet-list']" routerDirection="forward">
            <div id="wallet-bar">
                <div id="wallet-name" class="line-limit-length"> {{walletManager.activeMasterWallet.name}}
                    <span *ngIf="walletManager.activeMasterWallet.account['Type']==='Standard'">{{'text-standard-wallet' | translate}}</span>
                    <span *ngIf="walletManager.activeMasterWallet.account['Type']==='Multi-Sign'">{{'text-multi-wallet' | translate}}</span>
                </div>
                <button (click)="goSetting()">{{'text-wallet-manager' | translate}}</button>
            </div>
            <div class="valuation" [hidden]="!showOn">{{walletManager.activeMasterWallet.getBalance()/SELA}}</div>
            <div class="valuation" [hidden]="showOn">****</div>
        </div>

        <div id="home-list-box">
            <ion-list lines="none">
                <ion-list-header>
                    <div>{{'text-coin-list' | translate}}</div>
                    <div class="home-eye" (click)="onOpen()" [ngClass]="{'home-eye-on':showOn,'home-eye-off':!showOn }">
                    </div>
                </ion-list-header>

                <div *ngFor="let subWallet of walletManager.activeMasterWallet.getSubWallets()">
                    <ion-item [routerLink]="['/coin', subWallet.id]" routerDirection="forward" detail="false">
                        <ion-img [src]="getSubWalletIcon(subWallet)"></ion-img>
                        <ion-label id="coin-name">{{subWallet.id}}</ion-label>
                        <ion-label solt="end" id="coin-value">
                            <h2 [hidden]="!showOn" class="line-limit-length">{{subWallet.balance/SELA}}</h2>
                            <h2 [hidden]="showOn">****</h2>
                            <p>{{subWallet.lastBlockTime}} </p>
                            <p id="progress">{{subWallet.progress}}%</p>
                        </ion-label>
                    </ion-item>
                </div>
            </ion-list>

        </div>
    </div>
</ion-content>