<ion-content>
    <!-- NEW DESIGN -->
   <!--  <ion-slides [class.dark-slides]="theme.darkMode">
        <ion-slide>
            <ion-row class="main-title-row">
                <ion-col size="12">
                    <h1>Wallet Overview</h1>
                    <p>YOU HAVE 5 WALLETS</p>
                </ion-col>
            </ion-row>
            <ion-row class="card-row">
                <ion-row class="card-label-row"> 
                    <ion-row class="top-row">
                        <ion-col size="10" class="left-col">
                            <h1>Chad's Main Wallet</h1>
                        </ion-col>
                        <ion-col size="2" class="right-col">
                            <ion-img src="assets/icons/dots.svg"></ion-img>
                        </ion-col>
                    </ion-row>
                    <h2></h2>
                    <h3>TOTAL AMOUNT</h3>
                    <h4>500<span class="dot">.</span>
                        <span class="decimals">0000</span>
                        <span class="ela">  ELA</span>
                    </h4>
                </ion-row>
                <div class="arrow-down"></div>
            </ion-row>
            <ion-row class="tx-title-row">
                <ion-col size="12">
                    <h1>Coin List</h1>
                </ion-col>
            </ion-row>
            <ion-row class="tx-row">
                <ion-col size="2" class="left-col">
                    <div class="icon-container">
                        <ion-img src="assets/coins/ela-black.svg"></ion-img>
                    </div>
                </ion-col>
                <ion-col size="8" class="middle-col">
                    <h1>ELA</h1>
                    <p>Elastos Mainchain</p>
                </ion-col>
                <ion-col size="2" class="right-col">
                    <h1>5000</h1>
                </ion-col>
            </ion-row>
            <ion-row class="tx-row">
                <ion-col size="2" class="left-col">
                    <div class="icon-container">
                        <ion-img src="assets/coins/ela-turquoise.svg"></ion-img>
                    </div>
                </ion-col>
                <ion-col size="8" class="middle-col">
                    <h1>ELA-DID</h1>
                    <p>Elastos ID Chain</p>
                </ion-col>
                <ion-col size="2" class="right-col">
                    <h1>2</h1>
                </ion-col>
            </ion-row>
            <ion-row class="tx-row">
                <ion-col size="2" class="left-col">
                    <div class="icon-container">
                        <ion-img src="assets/coins/ela-gray.svg"></ion-img>
                    </div>
                </ion-col>
                <ion-col size="8" class="middle-col">
                    <h1>ELA-ETH</h1>
                    <p>Elastos Ethereum Sidechain</p>
                </ion-col>
                <ion-col size="2" class="right-col">
                    <h1>99999</h1>
                </ion-col>
            </ion-row>
            <ion-row class="tx-row">
                <ion-col size="2" class="left-col">
                    <div class="icon-container">
                        <ion-img src="assets/coins/eth.svg"></ion-img>
                    </div>
                </ion-col>
                <ion-col size="8" class="middle-col">
                    <h1>ETH</h1>
                    <p>Ethereum</p>
                </ion-col>
                <ion-col size="2" class="right-col">
                    <h1>32</h1>
                </ion-col>
            </ion-row>
        </ion-slide>
    </ion-slides>
 -->
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="" refreshingSpinner="circles"
            refreshingText="">
        </ion-refresher-content>
        <ion-refresher-content>
        </ion-refresher-content>
    </ion-refresher>

    <div *ngIf="walletManager.activeMasterWallet">
        <div id="home-top-box" [routerLink]="['/wallet-list']" routerDirection="forward">
            <div id="wallet-bar">
                <div id="wallet-name" class="line-limit-length"> {{walletManager.activeMasterWallet.name}}
                    <span *ngIf="walletManager.activeMasterWallet.account['Type']==='Standard'">{{'text-standard-wallet' | translate}}</span>
                    <span *ngIf="walletManager.activeMasterWallet.account['Type']==='Multi-Sign'">{{'text-multi-wallet' | translate}}</span>
                </div>
                <button (click)="goSetting()">{{'text-wallet-manager' | translate}}</button>
            </div>
            <div class="valuation" [hidden]="!showOn">{{walletManager.activeMasterWallet.getBalance()/SELA}}</div>
            <div class="valuation" [hidden]="showOn">****</div>
        </div>

        <div id="home-list-box">
            <ion-list lines="none">
                <ion-list-header>
                    <div>{{'text-coin-list' | translate}}</div>
                    <div class="home-eye" (click)="onOpen()" [ngClass]="{'home-eye-on':showOn,'home-eye-off':!showOn }">
                    </div>
                </ion-list-header>

                <div *ngFor="let subWallet of walletManager.activeMasterWallet.getSubWallets()">
                    <ion-item [routerLink]="['/coin', subWallet.id]" routerDirection="forward" detail="false">
                        <ion-img [src]="getSubWalletIcon(subWallet)"></ion-img>
                        <ion-label id="coin-name">{{subWallet.id}}</ion-label>
                        <ion-label solt="end" id="coin-value">
                            <h2 [hidden]="!showOn" class="line-limit-length">{{subWallet.balance/SELA}}</h2>
                            <h2 [hidden]="showOn">****</h2>
                            <p>{{subWallet.lastBlockTime}} </p>
                            <p id="progress">{{subWallet.progress}}%</p>
                        </ion-label>
                    </ion-item>
                </div>
            </ion-list>

        </div>
    </div>
</ion-content>