ion-slides {
    min-height: 100%;
    background: #f8f8ff;

    ion-slide {
        min-height: 100%;
        background: #f8f8ff;
        margin: 0;
        padding: 15px 20px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        ion-row {
            width: 100%;
        }
      
        .main-title-row {
            margin-bottom: 10px;
            margin-left: 5px;
    
            h1, p {
                margin: 0;
            }
      
            h1 {
                font-size: 24px;
                font-weight: 500;
                letter-spacing: -0.6px;
                line-height: 0.8;
                text-align: left;
                color: #000000;
                margin-bottom: 10px;
            }
    
            p {
                margin: 0;
                height: 13px;
                font-size: 10px;
                font-weight: 500;
                letter-spacing: 1px;
                text-align: left;
                color: #8888b0;
            }
        }
    
        .card-row {
            position: relative;
            background-color: #7e41ce;
            border-radius: 20px;
            padding: 25px 20px 20px;
            margin-bottom: 32px;
    
            .card-label-row {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;

                .top-row {
                    padding: 0;
                    margin-bottom: 7.5px;

                    ion-col {
                        display: flex;
                        align-items: center;
                        padding: 0;
                    }

                    .left-col {
                        justify-content: flex-start;
                    }

                    .right-col {
                        justify-content: flex-end;
                    }
                }
    
                h1, h2, h3, h4 {
                    margin: 0;
                    line-height: 1;
                }
    
                h1 {
                    font-size: 16px;
                    font-weight: 600;
                    letter-spacing: 0.32px;
                    color: #ffffff;
                }
    
                h2 {
                    font-size: 9px;
                    font-weight: 600;
                    letter-spacing: 0.9px;
                    color: #fdfeff;
                    margin-bottom: 20px;
                }
    
                h3 {
                    font-size: 10px;
                    font-weight: 400;
                    letter-spacing: 0.8px;
                    color: #ffffff;
                    margin-bottom: 4px;
                }
    
                h4 {
                    font-size: 42px;
                    letter-spacing: 1.05px;
                    line-height: 0.85;
                    font-weight: 500;
                    color: #ffffff;
                    margin-bottom: 15px;
    
                    .dot {
                        font-size: 49px;
                        letter-spacing: 1.23px;
                    }
    
                    .decimals {
                        font-size: 31px;
                        letter-spacing: 0.78px;
                    }
    
                    .ela {
                        font-size: 21px;
                        letter-spacing: 0.53px;
                    }
                }
            }
    
            .arrow-down {
                position: absolute;
                z-index: 0;
                bottom: -15px;
                left: 10%;
                height: 30px;
                width: 30px;
                transform: translate(2px, -2px) rotate(-45deg);
                -webkit-transform: translate(2px, -2px) rotate(-45deg);
                border-right: 2px solid transparent;
                border-top: 2px solid transparent;
                display: inline-block;
                -moz-transform: translate(2px, -2px) rotate(-45deg);
                -ms-transform: translate(2px, -2px) rotate(-45deg);
                -o-transform: translate(2px, -2px) rotate(-45deg);
                background-color: #7e41ce;
            }
        
        }
    
        .tx-title-row {
            margin-bottom: 10px;
            margin-left: 5px;
      
            h1 {
                margin: 0;
                font-size: 18px;
                font-weight: 500;
                line-height: 0.8;
                letter-spacing: -0.45px;
                text-align: left;
                color: #000000;
            }
        }
    
        .tx-row {
            width: 100%;
            border-radius: 17px;
            padding-top: 7.5px;
            padding-bottom: 7.5px;
            margin-bottom: 10px;
            box-shadow: 0 3px 15px 0 #ededf0;
            background-color: #ffffff;
    
            h1, p {
                margin: 0;
            }
    
            h1 {
                font-size: 14px;
                font-weight: 600;
                line-height: 1.29;
                letter-spacing: 0.7px;
                color: #161740;
            }
      
            p {
                font-size: 13px;
                font-weight: 400;
                text-align: left;
                padding-top: 3px;
                color: #161740;
            }
          
            .left-col {
                display: flex;
                justify-content: center;
                align-items: center;
                padding-left: 10px;
    
                .icon-container {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 40px;
                    height: 40px;
                    object-fit: contain;
                    border-radius: 100%;
    
                    ion-img {
                        object-fit: contain;
                    }
                }
            }
          
            .middle-col, .right-col {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                overflow: hidden;
            }
          
            .right-col {
                align-items: flex-end;
                padding-right: 10px;
            }
        }
    }    
}


  
.dark-slides  {
    background:#191a2f;

    ion-slide {
        background:#191a2f;

        .main-title-row {
            h1 {
                color: #ffffff;
            }
        }
    
        .card-row {
        }
    
        .tx-title-row {
            h1 {
                color: #ffffff;
            }
        }
    
        .tx-row {
            box-shadow: 0 3px 15px 0 #151626;
            background-color: #2b2c49;
    
            h1, p {
                color: #ffffff;
            }       
        }
    }
}
    

@import "../../../../functions.scss";
// #rect {
//     position:absolute;
//     left: 0;
//     top: 0;
//     margin-left: px2rem(45px);
//     margin-right: px2rem(45px);
//     margin-top: px2rem(11px);
//     width: px2rem(660px);
//     height: px2rem(324px);
//     z-index: -1;
// }

#home-top-box {
    margin-left: px2rem(45px);
    margin-right: px2rem(45px);
    margin-top: px2rem(11px);
    width: px2rem(660px);
    height: px2rem(324px);

    background-image: url("../../../../../assets/images/rectangle.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;

    #wallet-bar {
        margin-left: px2rem(43px);
        margin-right: px2rem(45px);
        padding-top: px2rem(30px);
        // height: px2rem(60px);
        // background-color: #00ff00;

        div {
            // margin: auto;
            float: left;
            padding-top: px2rem(5px);
            font-size: 18px;
            width: px2rem(350px);

            span {
                font-size: 14px;
            }
        }

        button {
            float: right;
            min-width: px2rem(160px);
            height: px2rem(60px);
            border-radius: px2rem(39.5px);
            border-style:solid;
            border-width:1px;
            color: white;
            background: transparent;
        }
    }

    .valuation {
        // margin-top: px2rem(98px);
        margin-top: px2rem(120px);
        text-align: center;
        font-size: 40px;
    }
    #valuation-label {
        text-align: center;
        font-size: 14px;
    }
}

button {
    padding-top: px2rem(6px);
}


#home-list-box {
    position:absolute;
    left: 0;
    top: px2rem(225px);
    width: 100%;
    height: 100%;
    // padding: 0px;
    // background-color: #00ff00;
    background-image: url("../../../../../assets/images/round.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;

    ion-list {
        margin-top: px2rem(110px);
        background: transparent;

        ion-list-header {
            color: #77777D;
            padding-left: 0;
            margin-left: px2rem(45px);
            margin-right: px2rem(45px);
            // background-color: white;
        }

        ion-item {
            ion-img {
                width: px2rem(60px);
                height: px2rem(60px);
            }

            #coin-name {
                margin-left: px2rem(27px);
                font-size: 18px;
            }
            #coin-value {
                text-align: right;
                flex: 0 0 px2rem(380px) !important;
                h2 {
                    font-size: 26px;
                }
                p {
                    font-size: 14px;
                    color: #FFCB0F;
                    display:inline;
                }
                #progress {
                    font-weight: bold;
                }
            }
        }
    }
}
.home-list-img {
    display: inline-block;
    //width: 30px;
    // height: 60px;
}

.home-eye {
    width: 24px;
    height: 24px;
    float: right;
    background-size: 100%;
}
.home-eye-off {
    background-image: url("../../../../../assets/images/icon/icon-eye-off.svg");
}
.home-eye-on {
    background-image: url("../../../../../assets/images/icon/icon-eye-on.svg");
}
