<ion-content>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="" refreshingSpinner="circles"
            refreshingText="">
        </ion-refresher-content>
        <ion-refresher-content>
        </ion-refresher-content>
    </ion-refresher>

    <div *ngIf="walletManager.activeMasterWallet">
        <div id="home-top-box" [routerLink]="['/wallet-list']" routerDirection="forward">
            <div id="wallet-bar">
                <div id="wallet-name" class="line-limit-length"> {{walletManager.activeMasterWallet.name}}
                    <span *ngIf="walletManager.activeMasterWallet.account['Type']==='Standard'">{{'text-standard-wallet' | translate}}</span>
                    <span *ngIf="walletManager.activeMasterWallet.account['Type']==='Multi-Sign'">{{'text-multi-wallet' | translate}}</span>
                </div>
                <button (click)="goSetting()">{{'text-wallet-manager' | translate}}</button>
            </div>
            <div class="valuation" [hidden]="!showOn">{{walletManager.activeMasterWallet.getBalance()/SELA}}</div>
            <div class="valuation" [hidden]="showOn">****</div>
        </div>

        <div id="home-list-box">
            <ion-list lines="none">
                <ion-list-header>
                    <div>{{'text-coin-list' | translate}}</div>
                    <div class="home-eye" (click)="onOpen()" [ngClass]="{'home-eye-on':showOn,'home-eye-off':!showOn }">
                    </div>
                </ion-list-header>

                {{ walletManager.activeMasterWallet.subWallets.length }}

                <div *ngFor="let subWallet of walletManager.activeMasterWallet.getSubWallets()">
                    <ion-item [routerLink]="['/coin', subWallet.id]" routerDirection="forward" detail="false">
                        <img *ngIf="subWallet.id=='ELA'" src="assets/images/ela-coin.png" />
                        <img *ngIf="subWallet.id!='ELA'"  src="assets/images/id-coin.png" />
                        <ion-label id="coin-name">{{subWallet.id}}</ion-label>
                        <ion-label solt="end" id="coin-value">
                            <h2 [hidden]="!showOn" class="line-limit-length">{{subWallet.balance/SELA}}</h2>
                            <h2 [hidden]="showOn">****</h2>
                            <p>{{subWallet.lastblocktime}} </p>
                            <p id="progress">{{subWallet.progress}}%</p>
                        </ion-label>
                    </ion-item>
                </div>
            </ion-list>

        </div>
    </div>
</ion-content>