<!-- <ion-content>
    <ion-grid class="container" [class.dark-container]="theme.darkMode">
        <ion-card>
            <ion-img [src]="!theme.darkMode ? 'assets/intents/smartcontracts.svg' : 'assets/intents/darkmode/smartcontracts.svg'"></ion-img>
            <ion-card-title>Smart Contract</ion-card-title>
            <ion-card-subtitle>
                You are going to sign and run a 
                smart contract on the Ethereum Sidechain.
            </ion-card-subtitle>
        </ion-card>
        <div class="msg-container">
            <p>You are using:</p>
            <h1 id="count">5 <span>ELA</span></h1>
            <p id="with">With:</p>
            <h1>100 <span>ELA</span></h1>
        </div>
        <ion-row class="btn-row">
            <ion-col class="btn cancel ion-activatable ripple" size="5.6" (click)="cancelOperation()">
                <ion-label>{{ 'cancel' | translate}}</ion-label>
                <ion-ripple-effect></ion-ripple-effect>
            </ion-col>
            <ion-col class="btn confirm ion-activatable ripple" size="5.6" (click)="goTransaction()">
                <ion-label>{{ 'confirm' | translate}}</ion-label>
                <ion-ripple-effect></ion-ripple-effect>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content> -->

<ion-content>
    <ion-grid class="container" [class.dark-container]="theme.darkMode">
        <ion-card>
            <ion-img [src]="!theme.darkMode ? 'assets/intents/smartcontracts.svg' : 'assets/intents/darkmode/smartcontracts.svg'"></ion-img>
            <ion-card-title>{{ 'esctransaction-smart-contract' | translate }}</ion-card-title>
            <ion-card-subtitle>
                {{ 'esctransaction-intro' | translate }}
            </ion-card-subtitle>
        </ion-card>
        <div class="msg-container">
            <p>{{ 'esctransaction-you-are-using' | translate }}</p>
            <h1 id="count">{{ balance }} <span>ELA</span></h1>
        </div>
        <ion-row class="btn-row">
            <ion-col class="btn cancel ion-activatable ripple" size="5.6" (click)="cancelOperation()">
                <ion-label>{{ 'cancel' | translate}}</ion-label>
                <ion-ripple-effect></ion-ripple-effect>
            </ion-col>
            <ion-col class="btn confirm ion-activatable ripple" size="5.6" (click)="goTransaction()">
                <ion-label>{{ 'confirm' | translate}}</ion-label>
                <ion-ripple-effect></ion-ripple-effect>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>

<!-- <ion-header>
    <header-bar title="{{'text-did' | translate }}" [showBack]="false" [showMinimize]="false" [showClose]="false">
    </header-bar>
</ion-header>
<ion-content class="ion-padding">
    <div class="intro ion-text-center">
        {{ 'text-did-note' | translate }}
    </div>
    <div class="number-of-idchain ion-text-center">
        {{ 'text-did-balance-idchain' | translate}}

        <div class="number-of-idchain-value">
            {{balance}}
        </div>
    </div>
    <div class="notes">
        <div class="note">
            {{ 'text-note' | translate }}
        </div>

        <div class="note-entry">
            {{ 'text-did-note-1' | translate }}
        </div>
    </div>
</ion-content>
<ion-footer>
    <ion-button class="ion-no-margin" style="width:50%" fill="clear" color="medium" size="large"
        (click)="cancelOperation()">{{ 'cancel' | translate }}</ion-button>
    <ion-button class="ion-no-margin" style="width:50%" fill="clear" color="primary" size="large"
        (click)="goTransaction()">{{ 'text-did-action' | translate }}</ion-button>
</ion-footer> -->