<ion-header>
    <ion-navbar>
        <ion-title style="text-align:center">{{'text-coin-list' | translate}}</ion-title>
    </ion-navbar>
</ion-header>
<ion-content>
    <nodata keyText='no-open-side-chain' *ngIf="isNoData"></nodata>
    <ion-list *ngIf="!isNoData">
        <ion-item *ngFor="let item of coinList" (click)="onItem(item)">
            <ion-icon item-start>
                <img src="./assets/images/logo-maincolor.svg" width="40">
            </ion-icon>
            <ion-note item-end>
                {{item.name}}
            </ion-note>
        </ion-item>
    </ion-list>
</ion-content>