<ion-header>
    <header-bar title="{{coinName}}"></header-bar>
</ion-header>
<ion-content>
    <!-- <nodata keyText='no-tx-record' *ngIf="isNodata"></nodata> -->
    <ion-refresher (ionRefresh)="doRefresh($event)" *ngIf="!isNodata">
        <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="" refreshingSpinner="circles"
            refreshingText="">
        </ion-refresher-content>
        <ion-refresher-content>
        </ion-refresher-content>
    </ion-refresher>

    <div class="coin-info-top-box">
        <h2>{{coinCount}}</h2>
        <p> {{curHeight}}/{{maxHeight}}</p>
    </div>
    <div id="nodata" *ngIf="isNodata">{{'no-tx-record' | translate }}</div>

    <ion-list *ngIf="!isNodata">
        <div *ngFor="let item of transferList; let i = index">
            <ion-item (click)="onItem(item)">
                <img src={{item.payStatusIcon}} />
                <ion-label id="coin-name">
                    <h2 id="exchange-name">{{item.name}}</h2>
                    <p *ngIf="item.timestamp!='0'" id="datatime">{{item.datetime}}</p>
                </ion-label>
                <ion-label solt="end" id="coin-value">
                    <h2 id="amount">{{item.fuhao}} {{item.resultAmount}}</h2>
                    <p *ngIf="item.status!='Confirmed'" id="status">{{item.status | translate}}</p>
                </ion-label>
            </ion-item>
        </div>
    </ion-list>

    <!-- <div class='address-whole' *ngIf="!isNodata">
        <ion-grid style="margin-bottom: 60px">
            <ion-row>
                <ion-col col-12 class="row-title">
                    {{ 'coin-recent-transfer' | translate }}
                </ion-col>
            </ion-row>
            <ion-row *ngFor="let item of transferList; let i = index" (click)="onItem(item)" class="hang"
                [ngClass]="{'bottom-border': i==transferList.length-1}">
                <ion-col col-2 align-self-center>
                    <img src={{item.payStatusIcon}} alt="" class="transfer-list-img">
                </ion-col>
                <ion-col col-5 align-self-center class="text-left">
                    <span class="font-size-2">{{item.status | translate}}</span> <span class="transfer-list-date"
                        *ngIf="item.timestamp!='0'" class="font-size-2"> {{item.datetime}} </span>
                </ion-col>
                <ion-col col-5 align-self-center class="text-right font-size-1">
                    {{item.fuhao}} {{item.resultAmount}}
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col col-12>
                    <p class="more" (click)="clickMore()" *ngIf="isShowMore">{{ 'click-to-load-more' | translate }}</p>
                </ion-col>
            </ion-row>

        </ion-grid>

    </div> -->
</ion-content>
<ion-footer>
    <div class="coin-bottom">
        <ion-button [routerLink]="['/receive']" routerDirection="forward">
            {{ 'text-receive' | translate }}</ion-button>
        <ion-button (click)="onNext(3)">{{ this.textShow | translate }}</ion-button>
        <ion-button (click)="onNext(2)">{{ 'text-transfer' | translate }}</ion-button>
    </div>
</ion-footer>