<ion-header>
    <header-bar title="{{chainId}}"></header-bar>
</ion-header>
<ion-content>
    <!-- <nodata keyText='no-tx-record' *ngIf="isNodata"></nodata> -->
    <ion-refresher (ionRefresh)="doRefresh($event)" *ngIf="!isNodata">
        <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="" refreshingSpinner="circles"
            refreshingText="">
        </ion-refresher-content>
        <ion-refresher-content>
        </ion-refresher-content>
    </ion-refresher>

    <div class="coin-info-top-box">
        <h2>{{Config.curMaster.subWallet[chainId].balance}}</h2>
        <p>{{Config.curMaster.subWallet[chainId].curHeight}}/{{Config.curMaster.subWallet[chainId].maxHeight}}</p>

    </div>
    <div id="nodata" *ngIf="isNodata">{{'no-tx-record' | translate }}</div>

    <ion-list *ngIf="!isNodata">
        <div *ngFor="let item of transferList; let i = index">
            <ion-item (click)="onItem(item)">
                <img src={{item.payStatusIcon}} />
                <ion-label id="coin-name">
                    <h2 id="exchange-name">{{item.name | translate }}</h2>
                    <p *ngIf="item.timestamp!='0'" id="datatime">{{item.datetime}}</p>
                </ion-label>
                <ion-label solt="end" id="coin-value">
                    <h2 id="amount">{{item.fuhao}} {{item.resultAmount}}</h2>
                    <p *ngIf="item.status!='Confirmed'" id="status">{{item.status | translate}}</p>
                </ion-label>
            </ion-item>
        </div>
    </ion-list>
    <div class="more" (click)="clickMore()" *ngIf="isShowMore">{{ 'click-to-load-more' | translate }}</div>
</ion-content>
<ion-footer>
    <div class="coin-bottom">
        <ion-button [routerLink]="['/receive']" routerDirection="forward">
            {{ 'text-receive' | translate }}</ion-button>
        <ion-button (click)="onNext(3)">{{ this.textShow | translate }}</ion-button>
        <ion-button (click)="onNext(2)">{{ 'text-transfer' | translate }}</ion-button>
    </div>
</ion-footer>