<ion-content>
    <ion-grid [class.dark-container]="theme.darkMode">

        <ion-card
            [class.received]="type === 1"
            [class.sent]="type === 2"
            [class.transferred]="type === 3"
        >
            <div class="icon-container">
                <ion-img [src]="payStatusIcon"></ion-img>
            </div>
            <ion-card-title>{{ direction }} {{ name }}</ion-card-title>
            <ion-card-subtitle>{{ symbol }}{{ resultAmount }}</ion-card-subtitle>
            <p
                [class.complete]="status === 'Confirmed'"
                [class.pending]="status === 'Pending'"
                [class.incomplete]="status === 'Incomplete'"
            > {{ status }}
            </p>
        </ion-card>
    
        <ion-row class="section-row"  (click)="timeActive = !timeActive">
            <ion-col size="11" class="name-col">
                <h1>{{ 'tx-info-transaction-time' | translate }}</h1>
            </ion-col>
            <ion-col size="1" class="arrow-col">
                <img *ngIf="!theme.darkMode" [class.rotate]="timeActive" src="assets/icons/down-arrow.svg"/>
                <img *ngIf="theme.darkMode" [class.rotate]="timeActive" src="assets/icons/darkmode/down-arrow.svg"/>
            </ion-col>
            <div *ngIf="timeActive" class="details-container">
                <div class="details-row">
                    <h2>{{ datetime }}</h2>
                </div>
            </div>
        </ion-row>

        <ion-row *ngIf="memo" class="section-row"  (click)="memoActive = !memoActive">
            <ion-col size="11" class="name-col">
                <h1>{{ 'tx-info-memo' | translate }}</h1>
            </ion-col>
            <ion-col size="1" class="arrow-col">
                <img *ngIf="!theme.darkMode" [class.rotate]="memoActive" src="assets/icons/down-arrow.svg"/>
                <img *ngIf="theme.darkMode" [class.rotate]="memoActive" src="assets/icons/darkmode/down-arrow.svg"/>
            </ion-col>
            <div *ngIf="memoActive" class="details-container">
                <div class="details-row">
                    <h2>{{ memo }}</h2>
                </div>
            </div>
        </ion-row>

        <ion-row class="section-row"  (click)="confirmActive = !confirmActive">
            <ion-col size="11" class="name-col">
                <h1>{{ 'tx-info-confirmations' | translate}}</h1>
            </ion-col>
            <ion-col size="1" class="arrow-col">
                <img *ngIf="!theme.darkMode" [class.rotate]="confirmActive" src="assets/icons/down-arrow.svg"/>
                <img *ngIf="theme.darkMode" [class.rotate]="confirmActive" src="assets/icons/darkmode/down-arrow.svg"/>
            </ion-col>
            <div *ngIf="confirmActive" class="details-container">
                <div class="details-row">
                    <h2>{{ confirmCount }}</h2>
                </div>
            </div>
        </ion-row>

        <ion-row class="section-row"  (click)="feesActive = !feesActive" *ngIf="payFee != 0">
            <ion-col size="11" class="name-col">
                <h1>{{ 'tx-info-transaction-fees' | translate }}</h1>
            </ion-col>
            <ion-col size="1" class="arrow-col">
                <img *ngIf="!theme.darkMode" [class.rotate]="feesActive" src="assets/icons/down-arrow.svg"/>
                <img *ngIf="theme.darkMode" [class.rotate]="feesActive" src="assets/icons/darkmode/down-arrow.svg"/>
            </ion-col>
            <div *ngIf="feesActive" class="details-container">
                <div class="details-row">
                    <h2>{{ payFee }} {{ name }}</h2>
                </div>
            </div>
        </ion-row>

        <ion-row class="section-row"  (click)="txActive = !txActive">
            <ion-col size="11" class="name-col">
                <h1>{{ 'tx-info-transaction-id' | translate }}</h1>
            </ion-col>
            <ion-col size="1" class="arrow-col">
                <img *ngIf="!theme.darkMode" [class.rotate]="txActive" src="assets/icons/down-arrow.svg"/>
                <img *ngIf="theme.darkMode" [class.rotate]="txActive" src="assets/icons/darkmode/down-arrow.svg"/>
            </ion-col>
            <div *ngIf="txActive" class="details-container">
                <div class="details-row">
                    <h2>{{ txId }}</h2>
                </div>
            </div>
        </ion-row>

    </ion-grid>
</ion-content>
