app-launcher {
    #wrapper {
        width: 100%;
        height: 100%;
        display: table;
        text-align: center;
    }
    #cell {
        display: table-cell;
        vertical-align: middle;
        padding: 0px 10px;
    }
    .jianju {
        margin-top: 40px;
    }
}