<ion-content>
    <ion-grid class="container" [class.dark-container]="theme.darkMode">
        <ion-row class="item-row ripple ion-activatable" *ngFor="let subWallet of subWallets" (click)="onItem(subWallet)">
            <ion-col size="2" class="left-col">
                <ion-img [src]="uiService.getSubWalletIcon(subWallet)"></ion-img>
            </ion-col>
            <ion-col size="5" class="middle-col">
                <h1>{{ uiService.getSubwalletTitle(subWallet) }}</h1>
                <p>{{ uiService.getSubwalletSubtitle(subWallet) }}</p>
                <span *ngIf="subWallet.progress === 100" class="synced">&#8226; {{ 'synchronized' | translate: {progress: subWallet.progress} }}</span>
                <span *ngIf="subWallet.progress !== 100" class="syncing">&#8226; {{ 'sync-progress' | translate: {progress: subWallet.progress} }}</span>
            </ion-col>
            <ion-col size="5" class="right-col">
                <h1>{{ subWallet.balance/SELA }}</h1>
                <p>
                    {{ currencyService.getCurrencyBalance(subWallet.balance/SELA) }}
                    {{ currencyService.selectedCurrency.symbol }}
                </p>
            </ion-col>
            <ion-ripple-effect></ion-ripple-effect>
        </ion-row>
    </ion-grid>
</ion-content>