@import "../../../../functions.scss";

.container {
    min-height: 100%;
    margin: 0;
    padding: 15px 20px;

    .item-row {
        width: 100%;
        border-radius: 17px;
        padding: 7.5px 10px 7.5px 0;
        margin-bottom: 7.5px;
        box-shadow: 0 3px 15px 0 #ededf0;
        background-color: #ffffff;
        
        .left-col {
            display: flex;
            justify-content: center;
            align-items: flex-start;
            padding-left: 10px;

            ion-img {
                object-fit: contain;
                width: 40px;
                height: 40px;
                object-fit: contain;
            }
        }
        
        .middle-col, .right-col {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            overflow: hidden;

            h1, p {
                margin: 0;
            }
    
            h1 {
                font-size: 14px;
                font-weight: 600;
                letter-spacing: 0.7px;
                text-align: left;
            }
        
            p {
                font-size: 13px;
                font-weight: 400;
                padding: 3px 0 3.5px;
                text-align: left;
            }

            span {
                font-weight: 700;
                font-size: 9px;
                letter-spacing: 0.9px;
            }

            .synced {
                color: #b176ff;
            }

            .syncing {
                color: #20e3d2;
            }
        }
        
        .right-col {
            justify-content: flex-start;
            align-items: flex-end;

            p {
                color: #8888b0;
            }
        }
    }
}
  
.dark-container  {
    .item-row {
        box-shadow: 0 3px 15px 0 #151626;
        background-color: #2b2c49;
    }
}