<ion-header>
    <header-bar title="text-coin-list"></header-bar>
</ion-header>

<ion-content>
    <div *ngIf="isNoData" id="nodata">{{'no-open-side-chain' | translate }}</div>
    <ion-list *ngIf="!isNoData" lines="none">
        <ion-item *ngFor="let item of coinList" (click)="onItem(item)">
            <ion-thumbnail>
                <img src="./assets/images/logo-maincolor.svg"/>
            </ion-thumbnail>
            <!-- <ion-icon>
                <img src="./assets/images/logo-maincolor.svg" width="40">
            </ion-icon> -->
            <ion-label slot="end">
                {{item.name}}
            </ion-label>
        </ion-item>
    </ion-list>
</ion-content>