.container {
    min-height: 100%;
    padding: 10px 25px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-image: url('/assets/background/background.svg');
    object-fit: cover;

    p {
        margin: 0;
        // padding: 30px 25px 40px;
        padding: 30px 25px;
        font-size: 18px;
        font-weight: 400;
        line-height: 1.26;
        letter-spacing: -0.46px;
        text-align: center;
        color: #fdfeff;
    }

    ion-row {
        margin-bottom: 15px;
        width: 100%;

        ion-input {
            background: #803fd5;
            height: 45px;
            border-radius: 8px;
            font-size: 14px;
            font-weight: 400;
            letter-spacing: -0.34px;
            text-align: left;
            color: #fdfeff;
            --padding-start: 12px;
        }
    }

    .btn-container {
        margin-top: 210px;
        width: 100%;
    }

    .options-row, .toggle-row {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-top: 30px;
        padding: 0 15px;

        span {
            font-size: 13px;
            font-weight: 400;
            letter-spacing: 0.7px;
            text-align: center;
            color: #ffffff;

            img {
                margin-bottom: 1px;
            }

            .rotate {
                transform: rotate(-180deg);
            }
        }

        h1 {
            margin: 0;
            font-size: 16px;
            font-weight: 500;
            letter-spacing: 0.9px;
            text-align: left;
            color: #ffffff;
        }

        ion-toggle {
            zoom: 0.8;
            --background-checked: #803fd5;
        }
    }

    .options-container {
        width: 100%;

        .toggle-row {
            justify-content: space-between;
        }
    
        .password-row {
            width: 100%;
            padding: 0;
            background: #803fd5;
            border-radius: 8px;

            ion-col {
                padding: 0;
                display: flex;
                justify-content: center;
                align-items: center;

                ion-icon {
                    width: 40px;
                    height: 40px;
                }
            }
        }
    }
}