<ion-grid class="ion-text-center container">
    <p>
        Enter a wallet name and a
        password to protect it.
    </p>
    <ion-row>
        <ion-input
            type="text"
            placeholder="Enter Name"
            [(ngModel)]="wallet.name"
        >
        </ion-input>
    </ion-row>
    <ion-row>
        <ion-input
            type="password"
            placeholder="Enter pay password"
            [(ngModel)]="wallet.payPassword"
        >
        </ion-input>
    </ion-row>
    <ion-row>
        <ion-input
            type="password"
            placeholder="Re-enter pay password"
            [(ngModel)]="wallet.rePayPassword"
        >
        </ion-input>
    </ion-row>
    <ion-row class="options-row" (click)="showOptions = !showOptions">
        <span>
            Advanced Options &nbsp; 
            <img [class.up-arrow]="showOptions" src="assets/icons/down-arrow.svg"/>
        </span>
    </ion-row>
    <ion-row *ngIf="showOptions" class="toggle-row">
        <h1>Single Address Wallet</h1>
        <ion-toggle [(ngModel)]="wallet.singleAddress" (ionChange)="updateSingleAddress($event)"></ion-toggle>
    </ion-row>
    <ion-row class="btn-container">
        <ion-button color="secondary" (click)="onCreate()">
            <ion-label>{{ 'confirm' | translate }}</ion-label>
        </ion-button>
    </ion-row>
</ion-grid>

<!-------------------- OLD WALLET -------------------->
<!-- <ion-header>
    <header-bar title="launcher-create-wallet"></header-bar>
</ion-header>

<ion-content>
    <ion-list lines="none">
        <div id="name">
            <ion-item>
                <ion-label stacked>{{ 'addwallet-walletname-title' | translate }}</ion-label>
                <ion-note slot="end">{{ 'text-wallet-name-validator' | translate }}</ion-note>
            </ion-item>
            <ion-item>
                <ion-input type="text" placeholder="{{ 'addwallet-walletname-placeholder' | translate }}"
                    [(ngModel)]="wallet.name"></ion-input>
            </ion-item>
        </div>

        <div id="password">
            <ion-item>
                <ion-label stacked>{{ 'addwallet-paypassword1-title' | translate }}</ion-label>
                <ion-note slot="end">{{ 'text-pwd-validator' | translate }}</ion-note>
            </ion-item>
            <ion-item>
                <ion-input type="password" placeholder="{{ 'addwallet-paypassword1-placeholder' | translate }}"
                    [(ngModel)]="wallet.payPassword"></ion-input>
            </ion-item>
            <ion-item>
                <ion-input type="password" placeholder="{{ 'addwallet-paypassword2-placeholder' | translate }}"
                    [(ngModel)]="wallet.rePayPassword"></ion-input>
            </ion-item>
        </div>

        <ion-item>
            <ion-label>{{'text-signaddress' | translate }}</ion-label>
            <my-toggle [checked]="wallet.singleAddress" (onChange)=updateSingleAddress($event)></my-toggle>
        </ion-item>

    </ion-list>
</ion-content>

<ion-footer>
    <ion-button class="confirm" (click)="onCreate()">{{ 'confirm' | translate }}</ion-button>
</ion-footer> -->