<ion-content>
    <ion-grid class="ion-text-center container">
        <p>{{ 'enter-wallet-name' | translate }}</p>
        <ion-row>
            <ion-input
                type="text"
                [placeholder]="'enter-name' | translate"
                [(ngModel)]="wallet.name"
            >
            </ion-input>
        </ion-row>
        <ion-row class="options-row" (click)="showOptions = !showOptions">
            <span>
                {{ 'advanced-options' | translate }} &nbsp;
                <img [class.rotate]="showOptions" src="assets/icons/darkmode/down-arrow.svg"/>
            </span>
        </ion-row>
        <div class="options-container" *ngIf="showOptions">
            <ion-row class="toggle-row">
                <h1>{{ 'signaddress-wallet' | translate }}</h1>
                <ion-toggle color="tertiary" [(ngModel)]="wallet.singleAddress" (ionChange)="updateSingleAddress($event)"></ion-toggle>
            </ion-row>
            <ion-row class="password-row">
                <ion-col size="10">
                    <ion-input
                        type="text"
                        placeholder="{{ 'mnemonic-input-passphrase' | translate }}"
                        [(ngModel)]="wallet.mnemonicPassword"
                        (keypress)="goToNextInput($event.keyCode, input)"
                    >
                    </ion-input>
                </ion-col>
                <ion-col *ngIf="walletCreationService.type === 1" size="2" (click)="uiService.showHelp($event, helpMessage)">
                    <ion-icon mode="ios" name="help"></ion-icon>
                </ion-col>
            </ion-row>
            <ion-row *ngIf="walletCreationService.type === 1">
                <ion-input
                    #input
                    type="text"
                    placeholder="{{ 'mnemonic-reinput-passphrase' | translate }}"
                    [(ngModel)]="repeatMnemonicPassword"
                >
                </ion-input>
            </ion-row>
        </div>

        <ion-row class="btn-row">
            <ion-button color="secondary" (click)="onCreate()">
                <ion-label>{{ 'confirm' | translate }}</ion-label>
            </ion-button>
        </ion-row>
    </ion-grid>
</ion-content>

