<ion-header>
    <header-bar title="text-mnemonic"></header-bar>
</ion-header>

<ion-content padding>
    <div class="kuangTextArea">
        <textarea class="backupWalletTextArea" placeholder="{{ 'text-mnemonic-format' | translate}}" rows="4"
            [(ngModel)]="mnemonicObj.mnemonic"></textarea>
    </div>
    <ion-list>
        <ion-item>
            <ion-label stacked>{{ 'addwallet-walletname-title' | translate }}</ion-label>
            <ion-note slot="end">{{ 'text-wallet-name-validator' | translate }}</ion-note>
        </ion-item>
        <ion-item>
            <ion-input type="text" placeholder="{{ 'addwallet-walletname-placeholder' | translate }}"
                [(ngModel)]="mnemonicObj.name"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label stacked>{{ 'unlock-paypassword-title' | translate }}</ion-label>
            <ion-note slot="end">{{ 'text-pwd-validator' | translate }}</ion-note>
        </ion-item>
        <ion-item>
            <ion-input type="password" placeholder="{{ 'addwallet-paypassword1-placeholder' | translate }}"
                [(ngModel)]="mnemonicObj.payPassword"></ion-input>
        </ion-item>
        <ion-item>
            <ion-input type="password" placeholder="{{ 'addwallet-paypassword2-placeholder' | translate }}"
                [(ngModel)]="mnemonicObj.rePayPassword"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label>{{'text-signaddress' | translate }}</ion-label>
            <my-toggle [(checked)]="mnemonicObj.singleAddress" (onChange)=updateSingleAddress($event)></my-toggle>
        </ion-item>
    </ion-list>

    <ion-item>
        <ion-label *ngIf="!showAdvOpts">{{'show-advanced-options' | translate}}</ion-label>
        <ion-label *ngIf="showAdvOpts"> {{'hide-advanced-options' | translate}}</ion-label>
        <my-toggle [checked]="showAdvOpts" (onChange)=toggleShowAdvOpts($event)></my-toggle>
    </ion-item>

    <ion-item *ngIf="showAdvOpts">
        <ion-label stacked>{{ 'importmnes-optionalpassword-title' | translate }}</ion-label>
        <ion-input type="password" placeholder="{{ 'importmnes-optionalpassword-placeholder' | translate }}"
            [(ngModel)]="mnemonicObj.phrasePassword"></ion-input>
    </ion-item>
</ion-content>
<ion-footer>
    <ion-button class="confirm" (click)="onNext()">{{'text-next-step' | translate}}</ion-button>
</ion-footer>