<ion-header>
    <header-bar title="text-add-publickey-title"></header-bar>
</ion-header>

<ion-content>
    <!-- <ion-list lines="none">
        <ion-item *ngFor="let copayer of publicKeyArr">
            <ion-input type="text" placeholder="{{'text-publickey-placeholder'|translate}}" [(ngModel)]="copayer['publicKey']"></ion-input>
        </ion-item>
    </ion-list> -->
    <ion-item *ngFor="let copayer of publicKeyArr" lines="none">
        <ion-input type="text" placeholder="{{'text-publickey-placeholder'|translate}}"
            [(ngModel)]="copayer['publicKey']"></ion-input>
        <ion-thumbnail slot="end" (click)="scan(copayer['index'])">
            <img src="assets/images/icon/ico-scan.svg" style="width: 40px;height:30px">
        </ion-thumbnail>
    </ion-item>

    <my-qrcode [address]="qrcode" [title]="'my-privatekey'|translate"></my-qrcode>
</ion-content>
<ion-footer>
    <ion-button class="confirm" (click)="onNext()">{{'text-next-step' | translate}}</ion-button>
</ion-footer>