<!-- <ion-content>
    <ion-grid class="container" [class.dark-container]="theme.darkMode">
        <ion-card>
            <ion-img [src]="!theme.darkMode ? 'assets/intents/syncing.svg' : 'assets/intents/darkmode/syncing.svg'"></ion-img>
            <ion-card-title>Loading...</ion-card-title>
            <ion-card-subtitle>
                Operation can only be performed after data
                has synced from the Mainchain.
            </ion-card-subtitle>
        </ion-card>
        <ion-row class="item-row ripple ion-activatable">
            <ion-col size="2" class="left-col">
                <ion-img src="assets/coins/ela-black.svg"></ion-img>
            </ion-col>
            <ion-col size="5" class="middle-col">
                <h1>Elastos</h1>
                <p>ELA</p>
                <span class="synced">&#8226; Synchronized 100%</span>
            </ion-col>
            <ion-col size="5" class="right-col">
                <h1>100</h1>
                <p>
                    1000009 USD
                </p>
            </ion-col>
            <ion-ripple-effect></ion-ripple-effect>
        </ion-row>
        <h2>When completed, page will re-fresh. <br> Please wait…</h2>
        <ion-row class="btn-row">
            <ion-col class="btn cancel ion-activatable ripple" size="12" (click)="cancelOperation()">
                <ion-label>{{ 'cancel' | translate }}</ion-label>
                <ion-ripple-effect></ion-ripple-effect>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content> -->

<ion-content>
    <ion-grid class="container" [class.dark-container]="theme.darkMode" *ngIf="masterWallet && masterWallet.subWallets[chainId]">
        <ion-card>
            <ion-img [src]="!theme.darkMode ? 'assets/intents/syncing.svg' : 'assets/intents/darkmode/syncing.svg'"></ion-img>
            <ion-card-title>{{ 'waitforsync-loading' | translate }}</ion-card-title>
            <ion-card-subtitle>
                {{ 'waitforsync-intro' | translate }}
            </ion-card-subtitle>
        </ion-card>
        <ion-row
            class="subwallet-row ripple ion-activatable"
            [class.dark-subwallet-row]="theme.darkMode"
        >
            <ion-col size="2" class="left-col">
                <ion-img [src]="getSubWalletIcon()"></ion-img>
            </ion-col>
            <ion-col size="5" class="middle-col">
                <h1>{{ uiService.getSubwalletTitle(masterWallet.getSubWallet(chainId)) }}</h1>
                <p>{{ uiService.getSubwalletSubtitle(masterWallet.getSubWallet(chainId)) }}</p>
            </ion-col>
            <ion-col size="5" class="right-col">
                <h1>{{ uiService.getFixedBalance(subWallet.getDisplayBalance()) }}</h1>
                <p *ngIf="subWallet.getAmountInExternalCurrency(subWallet.getDisplayBalance())">
                    {{ subWallet.getAmountInExternalCurrency(subWallet.getDisplayBalance()) }}
                    {{ currencyService.selectedCurrency.symbol }}
                </p>
            </ion-col>
            <ion-col offset="2" size="10" class="bottom-col">
                <span *ngIf="subWallet.progress === 100 && subWallet.type !== CoinType.ERC20" class="synced">{{ 'synced' | translate }} &#8226; {{ uiService.getSyncTimeFromNow(subWallet.syncTimestamp) }}</span>
                <span *ngIf="subWallet.progress !== 100 && subWallet.type !== CoinType.ERC20" class="syncing">{{ 'syncing' | translate }} <span *ngIf="subWallet.syncTimestamp">&#8226; {{ uiService.getSyncTimeFromNow(subWallet.syncTimestamp) }}</span></span>
                <span *ngIf="subWallet.type === CoinType.ERC20" class="synced">{{ 'ela-erc20' | translate }}</span>
            </ion-col>
            <ion-ripple-effect></ion-ripple-effect>
        </ion-row>
        <ion-row class="btn-row">
            <ion-col class="btn cancel ion-activatable ripple" size="12" (click)="cancelOperation()">
                <ion-label>{{ 'cancel' | translate }}</ion-label>
                <ion-ripple-effect></ion-ripple-effect>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
