.container {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    padding: 20px;
    background-image: url('/assets/background/intent.svg');
    object-fit: cover;

    ion-card {
        position: relative;
        margin: 50px 0 60px;
        background: #ffffff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        box-shadow: 0 3px 15px 0 #ededf0;
        border-radius: 15px;
        padding: 25px 15px 30px;
        overflow: visible;

        ion-img {
            width: 85px;
            height: 101px;
            position: absolute;
            z-index: 10;
            top: -50.5px;
            object-fit: contain;
        }

        ion-card-title {
            font-size: 21px;
            font-weight: 600;
            line-height: 1.29;
            color: #2e2f4e;
            margin: 40px 15px 10px;
        }

        ion-card-subtitle {
            text-align: center;
            text-transform: none;
            font-size: 13px;
            font-weight: 500;
            line-height: 1.46;
            color: #161740;
            margin: 0 15px;
        }
    }

    .item-row {
        width: 100%;
        border-radius: 17px;
        padding: 7.5px 10px 7.5px 0;
        box-shadow: 0 3px 15px 0 #ededf0;
        background-color: #ffffff;
        
        .left-col {
            display: flex;
            justify-content: center;
            align-items: flex-start;
            padding-left: 10px;

            ion-img {
                object-fit: contain;
                width: 40px;
                height: 40px;
                object-fit: contain;
            }
        }
        
        .middle-col, .right-col {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            overflow: hidden;

            h1, p {
                margin: 0;
            }
    
            h1 {
                font-size: 14px;
                font-weight: 600;
                letter-spacing: 0.7px;
                text-align: left;
            }
        
            p {
                font-size: 13px;
                font-weight: 400;
                padding: 3px 0 3.5px;
                text-align: left;
            }

            span {
                font-weight: 700;
                font-size: 9px;
                letter-spacing: 0.9px;
            }

            .synced {
                color: #b176ff;
            }

            .syncing {
                color: #20e3d2;
            }
        }
        
        .right-col {
            justify-content: flex-start;
            align-items: flex-end;

            p {
                color: #8888b0;
            }
        }
    }

    h2 {
        margin: 90px 30px 140px;
        font-size: 13px;
        font-weight: 500;
        line-height: 1.46;
        text-align: center;
        color: #b176ff;
    }

    .btn-row {
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;

        .btn {
            height: 47px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 8px;
        
            ion-label {
                font-size: 17px;
                font-weight: 500;
            }
        }
      
        .cancel {
            box-shadow: 0 3px 15px 0 #ededf0;
            background-color: #6e23d0;
            
            ion-label {
                color: #ffffff;
            }
        }
    }
}

.dark-container {
  background-image: url('/assets/background/darkmode/intent.svg');

    ion-card {
        background: #2e2f4e;
        box-shadow: 0 3px 15px 0 #151626;

        ion-card-title {
            color: #ffffff;
        }

        ion-card-subtitle {
            color: #cfd1f7;
        }
    }

    .item-row {
        box-shadow: 0 3px 15px 0 #151626;
        background-color: #2b2c49; 
    }

    .btn-row {
        .cancel {
            box-shadow: 0 3px 15px 0 #151626;
        }
    }
}



/* @import "../../../functions.scss";

#home-list-box {
    position:absolute;
    left: 0;
    top: px2rem(225px);
    width: 100%;
    height: 100%;

    ion-list {
        margin-top: px2rem(110px);
        background: transparent;

        ion-list-header {
            color: #77777D;
            padding-left: 0;
            margin-left: px2rem(45px);
            margin-right: px2rem(45px);
            // background-color: white;
        }

        ion-item {
            img {
                width: px2rem(60px);
                height: px2rem(60px);
            }

            #coin-name {
                margin-left: px2rem(27px);
                font-size: 18px;
            }
            #coin-value {
                text-align: right;
                flex: 0 0 px2rem(380px) !important;
                h2 {
                    font-size: 26px;
                }
                p {
                    font-size: 14px;
                    color: #FFCB0F;
                }
            }
        }
    }
}

.note {
    margin-top: 5vh;
    margin-left: 20px;
    margin-right: 20px;
    // text-transform: uppercase;
    // font-weight: bold;
    font-size:1.2em;
}

.note-entry {
    margin-bottom:10px;
} */