<!-- <ion-content>
    <ion-grid class="container" [class.dark-container]="theme.darkMode">
        <ion-card>
            <ion-img [src]="!theme.darkMode ? 'assets/intents/syncing.svg' : 'assets/intents/darkmode/syncing.svg'"></ion-img>
            <ion-card-title>Loading...</ion-card-title>
            <ion-card-subtitle>
                Operation can only be performed after data
                has synced from the Mainchain.
            </ion-card-subtitle>
        </ion-card>
        <ion-row class="item-row ripple ion-activatable">
            <ion-col size="2" class="left-col">
                <ion-img src="assets/coins/ela-black.svg"></ion-img>
            </ion-col>
            <ion-col size="5" class="middle-col">
                <h1>Elastos</h1>
                <p>ELA</p>
                <span class="synced">&#8226; Synchronized 100%</span>
            </ion-col>
            <ion-col size="5" class="right-col">
                <h1>100</h1>
                <p>
                    1000009 USD
                </p>
            </ion-col>
            <ion-ripple-effect></ion-ripple-effect>
        </ion-row>
        <h2>When completed, page will re-fresh. <br> Please wait…</h2>
        <ion-row class="btn-row">
            <ion-col class="btn cancel ion-activatable ripple" size="12" (click)="cancelOperation()">
                <ion-label>{{ 'cancel' | translate }}</ion-label>
                <ion-ripple-effect></ion-ripple-effect>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content> -->

<ion-content>
    <ion-grid class="container" [class.dark-container]="theme.darkMode" *ngIf="masterWallet && masterWallet.subWallets[chainId]">
        <ion-card>
            <ion-img [src]="!theme.darkMode ? 'assets/intents/syncing.svg' : 'assets/intents/darkmode/syncing.svg'"></ion-img>
            <ion-card-title>{{ 'waitforsync-loading' | translate }}</ion-card-title>
            <ion-card-subtitle>
                {{ 'waitforsync-intro' | translate }}
            </ion-card-subtitle>
        </ion-card>
        <ion-row class="item-row">
            <ion-col size="2" class="left-col">
                <ion-img [src]="getSubWalletIcon()"></ion-img>
            </ion-col>
            <ion-col size="5" class="middle-col">
                <h1>{{ uiService.getSubwalletTitle(masterWallet.getSubWallet(chainId)) }}</h1>
                <p>{{ uiService.getSubwalletSubtitle(masterWallet.getSubWallet(chainId)) }}</p>
                <span *ngIf="masterWallet.subWallets[chainId].progress === 100" class="synced">&#8226; {{ 'synchronized' | translate: { progress: masterWallet.subWallets[chainId].progress } }}</span>
                <span *ngIf="masterWallet.subWallets[chainId].progress !== 100" class="syncing">&#8226; {{ 'sync-progress' | translate: { progress: masterWallet.subWallets[chainId].progress } }}</span>
            </ion-col>
            <ion-col size="5" class="right-col">
                <h1>{{ masterWallet.subWallets[chainId].balance/SELA }}</h1>
                <p>
                    {{ currencyService.getCurrencyBalance(masterWallet.subWallets[chainId].balance/SELA) }}
                    {{ currencyService.selectedCurrency.symbol }}
                </p>
            </ion-col>
            <ion-ripple-effect></ion-ripple-effect>
        </ion-row>
        <ion-row class="btn-row">
            <ion-col class="btn cancel ion-activatable ripple" size="12" (click)="cancelOperation()">
                <ion-label>{{ 'cancel' | translate }}</ion-label>
                <ion-ripple-effect></ion-ripple-effect>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>

<!-- <ion-header>
    <header-bar title="{{'text-wait-sync' | translate }}" [showBack]="false" [showMinimize]="false" [showClose]="false">
    </header-bar>
</ion-header>

<ion-content>
    <div class="note">
        <div class="note-entry">
            {{ action | translate }}
        </div>
        <div class="note-entry">
            {{ 'text-wait-info' | translate }}
        </div>
        <div class="note-entry">
            {{ 'text-wait-info-2' | translate }}
        </div>
    </div>

    <div id="home-list-box">
        <ion-list lines="none">
            <ion-list-header>
            <div>{{'text-coin-list' | translate}}</div>
            </ion-list-header>

            <ion-item>
                <img *ngIf="chainId=='ELA'" src="assets/images/ela-coin.png" />
                <img *ngIf="chainId!='ELA'"  src="assets/images/id-coin.png" />
                <ion-label id="coin-name">{{chainId}}</ion-label>
                <ion-label solt="end" id="coin-value">
                    <h2 [hidden]="!showOn" class="line-limit-length">{{masterWallet.subWallets[chainId].balance/SELA}}</h2>
                    <h2 [hidden]="showOn">****</h2>
                    <p>{{masterWallet.subWallets[chainId].progress}}%</p>
                </ion-label>
            </ion-item>
        </ion-list>
    </div>
</ion-content>

<ion-footer>
    <ion-button class="confirm" (click)="cancelOperation()">{{ 'cancel' | translate }}</ion-button>
</ion-footer> -->