
<ion-header>
    <ion-toolbar>
        <ion-title style="text-align: center">{{'text-observe-wallet'|translate}}</ion-title>
    </ion-toolbar>
</ion-header>


<ion-content no-bounce>
    <ion-list>
        <ion-item>
            <ion-label stacked>{{ 'addwallet-walletname-title' | translate }}</ion-label>
            <ion-input type="text" placeholder="{{ 'addwallet-walletname-placeholder' | translate }}" [(ngModel)]="name"></ion-input>
        </ion-item>
    </ion-list>
</ion-content>

<ion-footer>
    <ion-button expand="full" (click)="import()">{{ 'text-next-step' | translate }}</ion-button>
</ion-footer>