@import "../../../functions.scss";

.mnemonic-write {
    .slide-container {
        height: 100%;
        // max-height: 30rem;
        // display: flex;
        justify-content: center;
        align-items: center;
        @media (max-height: 550px) {
            align-items: baseline;
        }
        .slide-body {
            min-width: 80%;
        }
    }
    .deleted-title {
        text-align: center;
    }
    .slide-title {
        text-align: center;
        font-size: 14px;
        padding: 20px;
        // color: color($colors, grey);
        color: --ion-color-medium;
    }
    .swiper-pagination {
        display: none;
    }
    .slide-zoom {
        height: 100%;
    }
    .password {
        // background-color: color($colors, light);
        background-color: --ion-color-light;
        padding: 2rem;
    }
    .phrase-container {
        // background: white;
        margin: auto;
        border: 1px dashed #d9d9d9;
        border-radius: 3px;
        // color: #192c3a;
        text-align: center;
        width: px2rem(660px);
        //height: px2rem(280px);
        min-height: 2em;
        // display: flex;
        justify-content: center;
        align-items: center;
        .phrase {
            padding-top: px2rem(20px);
            font-weight: bold;
            line-height: 2;
            font-size: 16px;
            // letter-spacing: 1px;
            @media (min-width: 575px) {
                font-size: 18px;
                padding: 3rem;
            }
            @media (max-height: 550px) {
                font-size: 16px;
                padding: 1rem;
            }
            // .button {
            //     height: 2rem;
            //     font-size: 14px;
            // }
        }
    }

    .bottom-phrase {
        margin-left: px2rem(45px);
        margin-top: px2rem(30px);
        text-align: center;
        font-size: 16px;
        // color: color($colors, grey);
        color: --ion-color-medium;
        // padding: 1rem;
        // position: absolute;
        // bottom: 2rem;
        width: px2rem(660px);
        // left: 0px;

        .words {
            // max-width: 500px;
            margin: 0 auto;
            .button {
                // height: 28px;
                font-size: 14px;
            }
        }
    }
    .bottom-absolute {
        text-align: center;
        padding: 0px;
        padding-top: 10px;
        .button-footer {
            // color: color($colors, primary);
            color: --ion-color-primary;
            max-width: 500px;
            margin: 0;
            font-size: 16px;
        }
    }
    .footer-text {
        font-size: 12.5px;
        // color: color($colors, grey);
        color: --ion-color-medium;
    }
}