<ion-header>
    <header-bar title="wallet"></header-bar>
</ion-header>

<ion-content>
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="" refreshingSpinner="circles"
            refreshingText="">
        </ion-refresher-content>
        <ion-refresher-content>
        </ion-refresher-content>
    </ion-refresher>

    <div>
        <div id="home-top-box" [routerLink]="['/walletlist']" routerDirection="forward">
            <div id="wallet-bar">
                <div id="wallet-name" class="line-limit-length"> {{Config.curMaster.name}}
                    <span *ngIf="Config.curMaster.account['Type']==='Standard'">{{'text-standard-wallet' | translate}}</span>
                    <span *ngIf="Config.curMaster.account['Type']==='Multi-Sign'">{{'text-multi-wallet' | translate}}</span>
                </div>
                <button (click)="goSetting()">{{'text-wallet-manager' | translate}}</button>
            </div>
            <div class="valuation" [hidden]="!showOn">{{Config.curMaster.subWallet['ELA'].balance}}</div>
            <div class="valuation" [hidden]="showOn">****</div>
            <!-- <div id="valuation-label">预估资产(元)</div> -->
        </div>

        <div id="home-list-box">

            <ion-list>
                <ion-list-header>
                    <div>{{'text-coin-list' | translate}}</div>
                    <div class="home-eye" (click)="onOpen()" [ngClass]="{'home-eye-on':showOn,'home-eye-off':!showOn }">
                    </div>
                </ion-list-header>

                <div *ngFor="let chainId of Config.curMaster.chainList">
                    <ion-item [routerLink]="['/coin', chainId]" routerDirection="forward">
                        <img *ngIf="chainId=='ELA'" src="assets/images/ela-coin.png" />
                        <img *ngIf="chainId!='ELA'"  src="assets/images/id-coin.png" />
                        <ion-label id="coin-name">{{chainId}}</ion-label>
                        <ion-label solt="end" id="coin-value">
                            <h2 [hidden]="!showOn" class="line-limit-length">{{Config.curMaster.subWallet[chainId].balance}}</h2>
                            <h2 [hidden]="showOn">****</h2>
                            <p>{{Config.curMaster.subWallet[chainId].progress}}%</p>
                        </ion-label>
                    </ion-item>
                </div>
            </ion-list>

        </div>
    </div>
</ion-content>