@import "../../../functions.scss";
// #rect {
//     position:absolute;
//     left: 0;
//     top: 0;
//     margin-left: px2rem(45px);
//     margin-right: px2rem(45px);
//     margin-top: px2rem(11px);
//     width: px2rem(660px);
//     height: px2rem(324px);
//     z-index: -1;
// }

#home-top-box {
    margin-left: px2rem(45px);
    margin-right: px2rem(45px);
    margin-top: px2rem(11px);
    width: px2rem(660px);
    height: px2rem(324px);

    background-image: url("../../../../assets/images/rectangle.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;

    #wallet-bar {
        margin-left: px2rem(43px);
        margin-right: px2rem(45px);
        padding-top: px2rem(30px);
        // height: px2rem(60px);
        // background-color: #00ff00;

        div {
            // margin: auto;
            float: left;
            padding-top: px2rem(15px);
            font-size: 18px;

            span {
                font-size: 14px;
            }
        }

        button {
            float: right;
            min-width: px2rem(160px);
            height: px2rem(60px);
            border-radius: px2rem(39.5px);
            border-style:solid;
            border-width:1px;
            color: white;
            background: transparent;
        }
    }

    .valuation {
        // margin-top: px2rem(98px);
        margin-top: px2rem(120px);
        text-align: center;
        font-size: 40px;
    }
    #valuation-label {
        text-align: center;
        font-size: 14px;
    }
}

button {
    padding-top: px2rem(6px);
}


#home-list-box {
    position:absolute;
    left: 0;
    top: px2rem(225px);
    width: 100%;
    height: 100%;
    // padding: 0px;
    // background-color: #00ff00;
    background-image: url("../../../../assets/images/round.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;

    ion-list {
        margin-top: px2rem(110px);
        background: transparent;

        ion-list-header {
            color: #77777D;
            padding-left: 0;
            margin-left: px2rem(45px);
            margin-right: px2rem(45px);
            // background-color: white;
        }

        ion-item {
            img {
                width: px2rem(60px);
                height: px2rem(60px);
            }

            #coin-name {
                margin-left: px2rem(27px);
                font-size: 18px;
            }
            #coin-value {
                text-align: right;
                h2 {
                    font-size: 26px;
                }
                p {
                    font-size: 14px;
                    color: #FFCB0F;
                }
            }
        }
    }
}
.home-list-img {
    display: inline-block;
    //width: 30px;
    // height: 60px;
}

.home-eye {
    width: 24px;
    height: 24px;
    float: right;
    background-size: 100%;
}
.home-eye-off {
    background-image: url("../../../../assets/images/icon/icon-eye-off.svg");
}
.home-eye-on {
    background-image: url("../../../../assets/images/icon/icon-eye-on.svg");
}
