<ion-header>
    <header-bar title="wallet"></header-bar>
</ion-header>

<ion-content>
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="" refreshingSpinner="circles"
            refreshingText="">
        </ion-refresher-content>
        <ion-refresher-content>
        </ion-refresher-content>
    </ion-refresher>

    <div>
        <div id="home-top-box" [routerLink]="['/walletlist']" routerDirection="forward">
            <div id="wallet-bar">
                <div id="wallet-name"> {{walletName}}
                    <span *ngIf="account['Type']==='Standard'">{{'text-standard-wallet' | translate}}</span>
                    <span *ngIf="account['Type']==='Multi-Sign'">{{'text-multi-wallet' | translate}}</span>
                </div>
                <button [routerLink]="['/wallet-setting', masterWalletId]" routerDirection="forward" (click)="onClick()">{{'text-wallet-manager' | translate}}</button>
            </div>
            <div class="valuation" [hidden]="!showOn">{{ElaObj.balance}}</div>
            <div class="valuation" [hidden]="showOn">****</div>
            <div id="valuation-label">预估资产(元)</div>
        </div>

        <div id="home-list-box">

            <ion-list>
                <ion-list-header>
                    <div>{{'text-coin-list' | translate}}</div>
                    <div class="home-eye" (click)="onOpen()" [ngClass]="{'home-eye-on':showOn,'home-eye-off':!showOn }">
                    </div>
                </ion-list-header>
                <ion-item [routerLink]="['/coin', ElaObj.name, elaPer, idChainPer]" routerDirection="forward">
                    <img src="assets/images/ela-coin.png" />
                    <ion-label id="coin-name">{{ElaObj.name}}</ion-label>
                    <ion-label solt="end" id="coin-value">
                        <h2 [hidden]="!showOn">{{ElaObj.balance}}</h2>
                        <h2 [hidden]="showOn">****</h2>
                        <p>{{elaCurHeight}}/{{elaMaxHeight}}</p>
                    </ion-label>
                </ion-item>

                <div *ngFor="let item of coinList">
                    <ion-item [routerLink]="['/coin', item.name, elaPer, idChainPer]" routerDirection="forward">
                        <img src="assets/images/id-coin.png" />
                        <ion-label id="coin-name">{{item.name}}</ion-label>
                        <ion-label solt="end" id="coin-value">
                            <h2 [hidden]="!showOn">{{item.balance}}</h2>
                            <h2 [hidden]="showOn">****</h2>
                            <p>{{idChainCurHeight}}/{{idChainMaxHeight}}</p>
                        </ion-label>
                    </ion-item>
                </div>
            </ion-list>

        </div>
    </div>
</ion-content>