<ion-content>
    <ion-grid *ngIf="hideMnemonic" class="verify-container ion-no-padding ion-no-margin" [class.verify-dark-container]="theme.darkMode">
        <!-- <ion-row>
            <ion-input
                type="password"
                placeholder="{{ 'unlock-paypassword-placeholder' | translate }}"
                [(ngModel)]="payPassword"
            >
            </ion-input>
        </ion-row> -->
        <ion-row class="btn-container">
            <ion-button color="primary" (click)="onExport()">
                <ion-label>{{ 'text-export-mnemonic' | translate }}</ion-label>
            </ion-button>
        </ion-row>
    </ion-grid>

    <ion-grid *ngIf="!hideMnemonic" class="ion-text-center verified-container">
        <p>
            These are your 12 security words
            (mnemonic phrase). Lose these
            and you will lose the wallet, so you
            must keep them written down, in
            order, and safe!
        </p>
        <ion-row class="mnemonic-row">
            <ion-col size="3.6" *ngFor="let item of mnemonicList; let i=index">
                <div class="mnemonic-index">{{ mnemonicList.indexOf(item) + 1 }}</div>
                <ion-label>{{ item.text }}</ion-label>
            </ion-col>
        </ion-row>
        <ion-row *ngIf="!hideMnemonic && !isFromIntent" class="btn-container">
            <ion-button color="secondary" (click)="return()">
                <ion-label>Back To Settings</ion-label>
            </ion-button>
        </ion-row>
        <ion-row *ngIf="!hideMnemonic && isFromIntent" class="btn-container">
            <ion-button color="secondary" (click)="onShare()">
                <ion-label>{{ 'text-allow' | translate }}</ion-label>
            </ion-button>
        </ion-row>
    </ion-grid>
</ion-content>
