// App Styles
// ----------------------------------------------------------------------------
// Put style rules here that you want to apply to the entire application. These
// styles are for the entire app and not just one component. Additionally, this
// file can hold Sass mixins, functions, and placeholder classes to be imported
// and used throughout the application.

// http://ionicframework.com/docs/theming/


@import "./functions.scss";


:root {
    --ion-text-color: white;
    --ion-background-color: #161723;
    --ion-toolbar-color: white;
    --ion-toolbar-background: #161723;
}

.my-custom-alert {
    --ion-background-color: white;
    --ion-text-color: #000000;
    text-align: center;
}

ion-button {
    text-transform: none;
}

ion-item {
    --background-activated: none;
    --padding-start: 0;
    --inner-padding-end:0;
    margin-left: px2rem(45px);
    margin-right: px2rem(45px);
}

ion-note {
    font-size: 14px;
}

// ion-icon {
//     width: px2rem(64px);
//     height: px2rem(64px);
// }

ion-footer {
    text-align: center;
}

.confirm {
    width: px2rem(686px);
    height: px2rem(84px);
    --background: #783aff;
    font-size: 16px;
}

.delete {
    width: px2rem(686px);
    height: px2rem(84px);
    --background: #AB2323;
    font-size: 16px;
}

.line-limit-length {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.backupWalletTextArea {
    margin: auto;
    border: 1px dashed #d9d9d9;
    border-radius: 3px;
    // color: #192c3a;
    text-align: center;
    width: px2rem(660px);
    height: px2rem(280px);
    // display: flex;
    justify-content: center;
    background-color: #161723;
    font-size: 20px;
}