ion-icon {
    &[class*="tab-"] {
        // Instead of using the font-based icons
        // We're applying SVG masks
        mask-size: contain;
        mask-position: 50% 50%;
        mask-repeat: no-repeat;
        background: currentColor;
        width: 2rem !important;
        height: 2rem !important;
    }
    // custom icons
    &[class*="tab-home"] {
        mask-image: url(../assets/images/ico-home.svg);
    }
    &[class*="tab-settings"] {
        mask-image: url(../assets/images/ico-settings.svg);
    }
}

::-webkit-scrollbar {
    display: none !important;
    box-shadow: none !important;
}


/* add */

body {
    margin: 0;
    padding: 0;
    font-family: 'Microsoft Yahei', 微软雅黑, 华文细黑, STHeiti, MingLiu;
}

body,
html {
    height: 100%;
}

.tabs-ios .tab-button-text {
    margin-top: 0;
    margin-bottom: 1px;
    min-height: 11px;
    font-size: 18px;
}

.label-ios[stacked] {
    margin-bottom: 4px;
    font-size: 1.6rem;
}