.container {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    padding: 20px;
  
    ion-card {
        margin: 0;
        background: #ffffff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        box-shadow: 0 3px 15px 0 #ededf0;
        border-radius: 15px;
        padding: 25px 15px 30px;
    
        ion-img {
            object-fit: contain;
        }

        .wallet {
            width: 61.4px;
            height: 41.6px;
        }

        .warning {
            width: 56px;
            height: 56px;
        }
    
        ion-card-title {
            font-size: 21px;
            font-weight: 600;
            line-height: 1.29;
            color: #2e2f4e;
            margin: 15px 15px 10px;
        }
    
        ion-card-subtitle {
            text-transform: none;
            font-size: 13px;
            font-weight: 500;
            line-height: 1.46;
            color: #161740;
            margin: 0 15px;
        }
    }
  
    .msg-container {
        padding: 20px 20px 5px;
    
        p {
            font-size: 16px;
            font-weight: 600;
            line-height: 1.25;
            text-align: center;
            color: #2e2f4e;
        }
    
        .second-msg {
            color: #8888b0;
            text-align: left;
            margin: 30px 0 10px;
        }
    }
  
    .data-row {
        box-shadow: 0 3px 15px 0 #ededf0;
        background: #ffffff;
        border-radius: 15px;
        padding: 0px 20px;
        margin-bottom: 7.5px;
        display: flex;
        flex-direction: column;
        overflow: hidden;
    
        p {
            font-size: 13px;
            font-weight: 600;
            line-height: 1.46;
            text-align: left;
            color: #2e2f4e;
            margin: 10px 0 2.5px;
        }
    
        h5 {
            margin: 0 0 10px;
            font-size: 13px;
            font-weight: 500;
            line-height: 1.46;
            text-align: left;
            color: #161740;
        }
    }
}

.dark-container {
    background: #191a2f;

    ion-card {
        margin: 0;
        background: #2e2f4e;
        box-shadow: 0 3px 15px 0 #151626;

        ion-card-title {
            color: #ffffff;
        }

        ion-card-subtitle {
        color: #cfd1f7;
        }
    }

    .msg-container {
        p {
            color: #ffffff;
        }
    }

    .data-row {
        background: #2e2f4e;
        box-shadow: 0 3px 15px 0 #151626;

        p {
            color: #ffffff;
        }

        h5 {
            color: #cfd1f7;
        }
    }
}
  

ion-footer {
    padding: 10px 10px 40px;

    .btn-row {
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
    
        .btn {
            height: 47px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 8px;
        
                ion-label {
                    font-size: 17px;
                    font-weight: 500;
                }
            }
        
            .cancel {
                box-shadow: 0 3px 15px 0 #ededf0;
                background-color: #ffffff;
        
                ion-label {
                    color: #000000;
                }
            }
        
            .confirm {
                box-shadow: 0 3px 15px 0 #ededf0;
                background-color: #6e23d0;
            
                ion-label {
                    color: #ffffff;
            }
        }
    }
}

.dark-footer {
    .btn-row {
        .cancel {
            box-shadow: 0 3px 6px 0 #151626;
            background-color: #202039;

            ion-label {
                color: #ffffff;
            }
        }

        .confirm {
            box-shadow: 0 3px 15px 0 #151626;
        }
    }
}


/* @import "../../../functions.scss";

#home-top-box {
    margin-left: px2rem(45px);
    margin-right: px2rem(45px);
    margin-top: px2rem(11px);
    width: px2rem(660px);
    height: px2rem(324px);

    background-image: url("../../../../assets/images/rectangle.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;

    #wallet-bar {
        margin-left: px2rem(43px);
        margin-right: px2rem(45px);
        padding-top: px2rem(30px);

        div {
            float: left;
            padding-top: px2rem(5px);
            font-size: 18px;
            width: px2rem(350px);

            span {
                font-size: 14px;
            }
        }

        button {
            float: right;
            min-width: px2rem(160px);
            height: px2rem(60px);
            border-radius: px2rem(39.5px);
            border-style:solid;
            border-width:1px;
            color: white;
            background: transparent;
        }
    }

    .valuation {
        margin-top: px2rem(120px);
        text-align: center;
        font-size: 40px;
    }
    #valuation-label {
        text-align: center;
        font-size: 14px;
    }
}

button {
    padding-top: px2rem(6px);
}

#home-list-box {
    left: 0;
    top: px2rem(20px);
    width: 100%;
    height: 100%;

    background-image: url("../../../../assets/images/round.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;

    ion-list {
        margin-top: px2rem(40px);
        background: transparent;

        ion-list-header {
            color: #77777D;
            padding-left: 0;
            margin-left: px2rem(45px);
            margin-right: px2rem(45px);
        }

        #request-value {
            font-size: 16px;
        }
    }
}

#access-mnemonic-info {
    margin-top: px2rem(60px);
    color: white;

    img {
        width: px2rem(80px);
        height: px2rem(80px);
    }

    #warning {
        margin-left: px2rem(25px);
        text-align: left;
        font-size: 24px;
        font-weight: bold;
    }

    #warning-info {
        font-size: 18px;
    }
}

#requst-box {
    margin-left: px2rem(45px);
    margin-right: px2rem(45px);
    margin-top: px2rem(45px);
    font-size: 18px;
    color: white;

    ion-list-header {
        color: #77777D;
        padding-left: 0;
    }

    #reason {
        margin-top: px2rem(45px);
    }
}
 */