<ion-header>
    <ion-navbar>
        <ion-title style="text-align:center">{{'text-contacts' | translate}}</ion-title>
        <ion-buttons end>
            <button ion-button icon-only (click)="rightHeader()">
              <ion-icon name="add"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>
<ion-content>
    <nodata keyText='no-add-contact' *ngIf="isnodata"></nodata>
    <ion-list *ngIf="!isnodata">
        <button ion-item *ngFor="let item of contactUsers" (click)="onclick(item.id)">
          {{ item.name }}
        </button>
    </ion-list>
</ion-content>