
ion-icon {
    &[class*="tab-"] {
        // Instead of using the font-based icons
        // We're applying SVG masks
        mask-size: contain;
        mask-position: 50% 50%;
        mask-repeat: no-repeat;
        background: currentColor;
        width: 2rem !important;
        height: 2rem !important;
    }
    // custom icons
    &[class*="tab-home"] {
        mask-image: url(../../../../../assets/images/ico-home.svg);
    }
    &[class*="tab-settings"] {
        mask-image: url(../../../../../assets/images/ico-settings.svg);
    }
}
