app-withdraw {
    .text-right {
        text-align: right;
    }
    .bottom-border {
        border-bottom: 1px solid #dddddd;
    }
    .top-border {
        border-top: 1px solid #dddddd;
    }
    .font-size-1 {
        font-size: 16px;
    }
}