app-testjni {
    .my {
        height: 100%;
        overflow: auto;
        .my-font-size-14 {
            font-size: 14px;
        }
        .my-font-size-top {
            margin-top: 14px;
        }
        .my-row {
            height: 50px;
        }
        .my-title {
            width: 100%;
            color: #ffffff;
            text-align: center;
            background-color: #0568B2;
            height: 200px;
            line-height: 200px;
        }
    }
}