<ion-content no-bounce>
    <ion-list lines="none">
        <ion-item detail [routerLink]="['/wallet-edit-name']" routerDirection="forward">
            <ion-label>{{'wallet-name' | translate}}</ion-label>
            <ion-note slot="end">
                {{ walletName }}
            </ion-note>
        </ion-item>

        <!--<ion-item *ngIf="singleAddress && !readonly" detail [routerLink]="['/publickey']" routerDirection="forward">
            <ion-label>{{'text-check-publickey' | translate }}</ion-label>
        </ion-item>

        <ion-item detail [routerLink]="['/exprot-prikey']" routerDirection="forward">
            <ion-label>{{'wallet-export' | translate }}</ion-label>
        </ion-item>-->

        <ion-item *ngIf="readonly!='Readonly'&&readonly!='simple'" detail [routerLink]="['/mnemonic-export']"
            routerDirection="forward">
            <ion-label>{{'text-export-mnemonic' | translate }}</ion-label>
        </ion-item>

        <ion-item *ngIf="readonly!='Readonly'" detail [routerLink]="['/wallet-password-reset']"
            routerDirection="forward">
            <ion-label>{{'wallet-password-reset' | translate}}</ion-label>
        </ion-item>

        <ion-item detail [routerLink]="['/coin-list']" routerDirection="forward">
            <ion-label>{{'text-coin-list' | translate }}</ion-label>
        </ion-item>

    </ion-list>
</ion-content>

<ion-footer>
    <ion-button class="delete" (click)="onDelete()">{{'wallet-delete' | translate}}</ion-button>
</ion-footer>