@import "../../../functions.scss";

.text-right {
    text-align: right;
}
.bottom-border {
    border-bottom: 1px solid #dddddd;
}
.top-border {
    border-top: 1px solid #dddddd;
}
.font-size-1 {
    font-size: 16px;
}

.intro {
    font-size: 2em;
    margin:14vw;
}

.number-of-ela-value {
    font-size: 1em;
    margin-left: 5px;

    ion-item {
        #coin-name {
            margin-left: px2rem(27px);
            font-size: 18px;
        }
        #coin-value {
            text-align: right;
            flex: 0 0 px2rem(380px) !important;
        }
    }
}