app-receive {
    .receive-box {
        margin-top: 30px;
        .receive-qrocde {
            width: 200px;
            margin: 0px auto;
            display: block;
            padding-top: 20px;
            text-align: center;
            img {
                //不好用
                margin: 0px auto;
            }
        }
    }
    .receive-address {
        color: $color-gray-light;
        text-align: center;
        font-size: 0.9em;
        &>img {
            width: 20px;
            vertical-align: middle;
        }
    }
    .recevie-bottom {
        position: absolute;
        bottom: 20px;
        text-align: center;
        width: 100%;
        color: $color-gray-dark;
    }
}