<ion-header>
    <ion-navbar>
        <ion-title style="text-align:center">{{'text-receive' | translate}}</ion-title>
    </ion-navbar>
</ion-header>
<ion-content>
    <div class="receive-box">
        <qrcode class="receive-qrocde" [qrdata]="qrcode" [size]="200" [level]="'M'"></qrcode>
        <p class="receive-address" (click)="onNext(0)" style="font-size: 1.2em;">{{address}} <img src="./assets/images/icon/icon-copy.svg"></p>
        <div class="recevie-bottom" (click)="onNext(2)">
            <p style="font-size: 1.6em;">{{ 'text-manager-address' | translate }}</p>
        </div>
    </div>
</ion-content>