@import "../../functions.scss";

#wrapper {
    width: 100%;
    height: 100%;
    display: table;
    text-align: center;
}
#cell {
    display: table-cell;
    vertical-align: middle;
    // padding: 0px 10px;
}
ion-button {
    height: px2rem(98px);
    --background: #783aff;
    font-size: 18px;
}
