<ion-content>
    <ion-grid class="container" [class.dark-container]="theme.darkMode">
        <ion-row class="main-title-row">
            <ion-col size="12">
                <p>General</p>
            </ion-col>
        </ion-row>
        <ion-row class="setting-row"  *ngFor="let item of settings" detail [routerLink]="[item.route]" routerDirection="forward">
            <ion-col size="1.25" class="left-col">
                <img [src]="!theme.darkMode ? item.icon : item.iconDarkmode"/>
            </ion-col>
            <ion-col size="9.5" class="middle-col">
                <h1>{{ item.title }}</h1>
                <p>{{ item.subtitle }}</p>
            </ion-col>
            <ion-col size="1.25" class="right-col">
                <img [src]="!theme.darkMode ? 'assets/icons/right-arrow.svg' : 'assets/icons/darkmode/right-arrow.svg'"/>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>