@import "../../../../functions.scss";

ion-list {
    ion-item {
        height: px2rem(104px);
    }
    ion-icon {
        margin: 10px;
        width: px2rem(32px);
        height: px2rem(32px);
    }
    ion-label {
        font-size: 18px;
    }
    ion-note {
        font-size: 16px;
    }

}
