id-home {
    @import "../../../theme/id";
    .home-top1 {
        background-color: $color-main;
        text-align: center;
        padding-bottom: 10%;
        margin-top: -1px;
    }
    .huan-hang {
        width: 100%;
        height: auto;
        word-wrap: break-word;
        word-break: break-all;
        overflow: hidden;
    }
    .navID {
        display: flex;
        display: -webkit-box;
        /* 老版本语法: Safari, iOS, Android browser, older WebKit browsers. */
        display: -moz-box;
        /* 老版本语法: Firefox (buggy) */
        display: -ms-flexbox;
        /* 混合版本语法: IE 10 */
        display: -webkit-flex;
        /* 新版本语法: Chrome 21+ */
        width: 90%;
        margin: 0 auto;
        background-color: #ffffff;
        box-shadow: 0px 0px 19px 0px rgba(0, 112, 201, 0.2);
        border-radius: 4px;
        margin-top: -29px;
        height: 70px;
        align-items: center;
        position: relative;
        z-index: 998;
        li {
            flex: 1;
            -webkit-box-flex: 1;
            -moz-box-flex: 1;
            -webkit-flex: 1;
            -ms-flex: 1;
            // line-height: 50px;
            padding: 8px 0;
            a {
                display: flex;
                display: -webkit-box;
                /* 老版本语法: Safari, iOS, Android browser, older WebKit browsers. */
                display: -moz-box;
                /* 老版本语法: Firefox (buggy) */
                display: -ms-flexbox;
                /* 混合版本语法: IE 10 */
                display: -webkit-flex;
                /* 新版本语法: Chrome 21+ */
                i {
                    width: 40%;
                    margin-right: 5px;
                }
                span {
                    flex: 1;
                    -webkit-box-flex: 1;
                    -moz-box-flex: 1;
                    -webkit-flex: 1;
                    -ms-flex: 1;
                    font-family: PingFangSC-Regular;
                    font-size: 14px;
                    font-weight: normal;
                    font-stretch: normal;
                    // line-height: 48px;
                    letter-spacing: 0px;
                    color: #138efe;
                    @media screen and (min-width: 780px) {
                        font-size: 16px;
                    }
                }
                i.new {
                    background: url("./../assets/images/icon (1).png") no-repeat 90% center;
                    background-size: auto 100%;
                }
                i.import {
                    background: url("./../assets/images/icon (2).png") no-repeat 90% center;
                    background-size: auto 100%;
                }
                i.guanli {
                    background: url("./../assets/images/pen.png") no-repeat 90% center;
                    background-size: auto 100%;
                }
            }
        }
        li:not(.last-li) {
            border-right: 1px solid #ccc;
        }
    }
}