<ion-header>
    <ion-navbar>
        <ion-title style="text-align:center">{{coinName}}</ion-title>
    </ion-navbar>
</ion-header>
<ion-content>
    <nodata keyText='no-tx-record' *ngIf="isNodata"></nodata>
    <ion-refresher (ionRefresh)="doRefresh($event)" *ngIf="!isNodata">
        <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="" refreshingSpinner="circles" refreshingText="">
        </ion-refresher-content>
        <ion-refresher-content>
        </ion-refresher-content>
    </ion-refresher>
    <div class='address-whole' *ngIf="!isNodata">
        <div class="coin-info-top-box">
            <img src="./assets/images/logo-maincolor.svg">
            <div style="font-size: 1.6em;">{{'total-balance' | translate}}: {{coinCount}} {{coinName}}</div>
            <div style="font-size: 1.6em;" *ngIf="coinName==='ELA'">{{"vote-balance" | translate}}: {{votedCount}} {{coinName}}</div>
        </div>

        <ion-grid style="margin-bottom: 60px">
            <ion-row>
                <ion-col col-12 class="row-title">
                    {{ 'coin-recent-transfer' | translate }}
                </ion-col>
            </ion-row>
            <ion-row *ngFor="let item of transferList; let i = index" (click)="onItem(item)" class="hang" [ngClass]="{'bottom-border': i==transferList.length-1}">
                <ion-col col-2 align-self-center>
                    <img src={{item.payStatusIcon}} alt="" class="transfer-list-img">
                </ion-col>
                <ion-col col-5 align-self-center class="text-left">
                    <span class="font-size-2">{{item.status | translate}}</span> <span class="transfer-list-date" *ngIf="item.timestamp!='0'" class="font-size-2"> {{item.datetime}} </span>
                </ion-col>
                <ion-col col-5 align-self-center class="text-right font-size-1">
                    {{item.fuhao}} {{item.resultAmount}}
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col col-12>
                    <p class="more" (click)="clickMore()" *ngIf="isShowMore">{{ 'click-to-load-more' | translate }}</p>
                </ion-col>
            </ion-row>

        </ion-grid>

    </div>
</ion-content>
<ion-footer>
    <div class="coin-bottom">
        <div (click)="onNext(1)" style="font-size: 1.6em;">
            {{ 'text-receive' | translate }}
        </div>
        <div (click)="onNext(3)" style="font-size: 1.6em;">
            {{ this.textShow | translate }}
        </div>
        <div (click)="onNext(2)" style="font-size: 1.6em;">
            {{ 'text-transfer' | translate }}
        </div>
    </div>
</ion-footer>