<ion-content>
  <ion-grid class="container" [class.dark-container]="theme.darkMode">
      <div class="icon-container">
          <img src="assets/coins/eth-purple.svg">
          <div class="ela-icon">
              <img src="assets/coins/ela-black.svg"/>
          </div>
      </div>
      <div class="qrcode-container">
          <qrcode [qrdata]="qrcode" [size]="150"></qrcode>
      </div>
      <h1>Contract Address</h1>
      <h2 *ngIf="qrcode" (click)="copy()">
          {{ qrcode.slice(0,20) }}<br>{{ qrcode.slice(20,50) }}
      </h2>
      <p>{{ 'coin-receive-tap-to-copy' | translate }}</p>
      <div *ngIf="canDelete" class="btn cancel ion-activatable ripple" (click)="delete()">
        <ion-label>Delete</ion-label>
        <ion-ripple-effect></ion-ripple-effect>
      </div>
      <div class="btn confirm ion-activatable ripple" [class.expand]="!canDelete" (click)="share()">
        <ion-label>Share</ion-label>
        <ion-ripple-effect></ion-ripple-effect>
      </div>
  </ion-grid>
</ion-content>