id-kyc-result {
    .result {
        text-align: center;
        .result-img {
            width: 40%;
            height: 40%;
            margin-top: 50px;
            display: inline-block;
        }
        .result-wenzi {
            margin-top: 20px;
            font-size: 20px;
            font-weight: bold;
            color: #0568B2;
        }
        .result-wenzi-color {
            margin-top: 20px;
            font-size: 20px;
            font-weight: bold;
            color: #F76260;
        }
        .result-wenzi1 {
            margin-top: 20px;
            font-size: 14px;
            color: #101010;
            white-space: nowrap;
        }
        .result-row-top-30 {
            padding: 30px 0px;
        }
    }
}