page-identitypathinfo {
    .huadong {
        width: 100%;
        height: 100%;
        overflow: auto;
    }
    .line-height {
        margin-top: 8px;
    }
    .font-size-1 {
        font-size: 16px;
    }
    .hang {
        border-top: 1px solid #dddddd;
    }
    .bottom-border {
        border-bottom: 1px solid #dddddd;
    }
    .text-right {
        text-align: right;
    }
    .text-left {
        text-align: left;
    }
}