.container {
    min-height: 100%;
    background: #f8f8ff;
    margin: 0;
    padding: 15px 20px;

    ion-row {
        width: 100%;
    }
  
    p {
        margin: 0;
        padding: 15px 30px 30px;
        font-size: 18px;
        font-weight: 400;
        line-height: 1.26;
        letter-spacing: -0.46px;
        text-align: center;
        color: #000000;
    }

    .card-row {
        border-radius: 20px;
        padding: 25px 20px 20px;
        margin-bottom: 7.5px;
        background-image: url("/assets/cards/maincards/card-purple.svg");
        background-repeat: no-repeat;
        background-size: cover;

        .card-label-row {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;

            .top-row {
                padding: 0;
                margin-bottom: 7.5px;

                ion-col {
                    display: flex;
                    align-items: flex-start;
                    padding: 0;
                }

                .left-col {
                    justify-content: flex-start;
                }

                .right-col {
                    justify-content: flex-end;
                }
            }

            h1, h2, h3, h4 {
                margin: 0;
                line-height: 1;
            }

            h1 {
                font-size: 16px;
                font-weight: 600;
                letter-spacing: 0.32px;
                color: #ffffff;
            }

            h2 {
                font-size: 9px;
                font-weight: 600;
                letter-spacing: 0.9px;
                color: #fdfeff;
                margin-bottom: 20px;
            }

            h3 {
                font-size: 10px;
                font-weight: 400;
                letter-spacing: 0.8px;
                color: #ffffff;
                margin-bottom: 4px;
            }

            h4 {
                font-size: 42px;
                letter-spacing: 1.05px;
                line-height: 0.85;
                font-weight: 500;
                color: #ffffff;
                margin-bottom: 15px;

                .dot {
                    font-size: 49px;
                    letter-spacing: 1.23px;
                }

                .decimals {
                    font-size: 31px;
                    letter-spacing: 0.78px;
                }

                .ela {
                    font-size: 21px;
                    letter-spacing: 0.53px;
                }
            }
        } 
    }

    .card2 {
        background-image: url("/assets/cards/maincards/card-blue.svg");
    }
    .card3 {
        background-image: url("/assets/cards/maincards/card-lightblue.svg");
    }
    .card4 {
        background-image: url("/assets/cards/maincards/card-pink.svg");
    }
    .card5 {
        background-image: url("/assets/cards/maincards/card-red.svg");
    }
    .card6 {
        background-image: url("/assets/cards/maincards/card-yellow.svg");
    }

    .btn-container {
        margin-top: 25px;
        width: 100%;
    }
}

.dark-container  {
    background:#191a2f;

    p {
        color: #ffffff;
    }
}

ion-footer {
    background: transparent;
    padding: 0 30px 30px 30px;

    .btn-container {
        margin-top: 25px;
        width: 100%;
    }
}