<ion-header>
    <header-bar title="text-wallet-manager"></header-bar>
</ion-header>
<ion-content no-bounce>
    <ion-list>
        <ion-item *ngFor="let item of items" detail [routerLink]="['/wallet-setting', item.id]" routerDirection="forward">
            <ion-label>
                <h2>{{ item.wallname }}</h2>
                <p *ngIf="item['Account']['Type']==='Standard'">{{'text-standard-wallet' | translate}}</p>
                <p *ngIf="item['Account']['Type']==='Multi-Sign'">{{'text-multi-wallet' | translate}}</p>
            </ion-label>
        </ion-item>
    </ion-list>
</ion-content>

<ion-footer>
    <ion-button class="confirm" [routerLink]="['/launcher']" routerDirection="forward">
        {{'text-add-wallet' | translate}}</ion-button>
</ion-footer>