<ion-content>
    <ion-grid class="container" [class.darkContainer]="theme.darkMode">
        
        <p>{{ 'coin-adderc20-intro' | translate }}</p>
        <p>{{ 'coin-adderc20-intro2' | translate }}</p>

        <ion-row class="scan-row">
            <ion-col size="10" class="left-col">
                <ion-input
                    #input
                    autosize
                    clearInput
                    [placeholder]="'coin-adderc20-enteraddress' | translate"
                    [(ngModel)]="coinAddress"
                    (input)='onInputAddress($event.target.value)'
                >
                </ion-input>
            </ion-col>
            <ion-col size="2" class="right-col">
                <img (click)="scanCoinAddress()" [src]="!theme.darkMode ? 'assets/icons/scan.svg' : 'assets/icons/darkmode/scan.svg'"/>
            </ion-col>
        </ion-row>
    
        <ion-row class="coin-row" *ngIf="coinInfoFetched">
            <h2>{{ 'coin-adderc20-name' | translate }}</h2>
            <h3>{{ coinName }}</h3>
            <h2>{{ 'coin-adderc20-symbol' | translate }}</h2>
            <h3 id="symbol">{{ coinSymbol }}</h3>
        </ion-row>

        <ion-row class="btn-container" *ngIf="coinInfoFetched">
            <ion-button color="primary" (click)="addCoin()">
                <ion-label>{{ 'coin-adderc20-add' | translate }}</ion-label>
            </ion-button>
        </ion-row>

    </ion-grid>
</ion-content>


