.container {
    min-height: 100%;
    background: #f8f8ff;
    padding: 30px 35px;

    .input-container {
        margin-bottom: 15px;
        display: flex;
        flex-direction: column;

        ion-input {
            background: #ffffff;
            width: 100%;
            box-shadow: 0 3px 15px 0 #ededf0;
            height: 45px;
            border-radius: 8px;
            font-size: 15px;
            color: #000000;
            --padding-start: 12px;
        }

        .password-failed {
            color: #FF6464;
            font-weight: 700;
            font-size: 10px;
            margin-top: 10px;
        }
    }
  
    .btn-container {
      padding-top: 15px;
  
      ion-button {
        height: 41px;
        width: 100%;
        --border-radius: 8px;
  
        ion-label {
          text-transform: none;
          font-size: 16px;
          font-weight: 500;
          letter-spacing: -0.43px;
        }
      }
    }
}   
  
.darkContainer {
    background: #191a2f;

    .input-container {
        ion-input {
            background: #2b2c49;
            box-shadow: 0 3px 15px 0 #151626;
            color: #ffffff;
        }
    }
}
  

/* @import "../../../functions.scss";

.fingerprint-div {
    margin-top:px2rem(200px);
}

.fingerprint-large {
    height:px2rem(100px);
    margin-bottom:px2rem(40px);
}

.touch-fingerprint {
    margin-top:px2rem(200px);
    font-size:px2rem(36px);
    color: #918EFF;
}

.click-fingerprint-prompt {
    margin-bottom:px2rem(80px);
    font-size:px2rem(36px);
    color: #918EFF;
} */