<ion-content *ngIf="transferType === 1 || transferType === 4">
    <ion-grid class="recharge-container" [class.recharge-dark-container]="theme.darkMode" [class.blur]="showPopover">
        <ion-row class="main-title-row">
            <ion-col size="12">
                <p>{{ 'transfer-from' | translate }}</p>
            </ion-col>
        </ion-row>
        <ion-row class="item-row">
            <ion-col size="2.3" class="left-col">
                <ion-img [src]="uiService.getSubWalletIcon(fromSubWallet)"></ion-img>
            </ion-col>
            <ion-col size="5.5" class="middle-col">
                <h1>{{ uiService.getSubwalletTitle(fromSubWallet) }}</h1>
                <p>{{ uiService.getSubwalletSubtitle(fromSubWallet) }}</p>
            </ion-col>
            <ion-col size="4.2" class="right-col">
                <h1>{{ uiService.getFixedBalance(fromSubWallet.getDisplayBalance()) }}</h1>
                <p *ngIf="fromSubWallet.getAmountInExternalCurrency(fromSubWallet.getDisplayBalance())">
                    {{ fromSubWallet.getAmountInExternalCurrency(fromSubWallet.getDisplayBalance()) }}
                    {{ currencyService.selectedCurrency.symbol }}
                </p>
            </ion-col>
            <div class="arrow-down"></div>
        </ion-row>
        <ion-row class="main-title-row">
            <ion-col size="12">
                <p>{{ 'transfer-to' | translate }}</p>
            </ion-col>
        </ion-row>
        <ion-row class="item-row">
            <ion-col size="2.3" class="left-col">
                <ion-img [src]="uiService.getSubWalletIcon(toSubWallet)"></ion-img>
            </ion-col>
            <ion-col size="5.5" class="middle-col">
                <h1>{{ uiService.getSubwalletTitle(toSubWallet) }}</h1>
                <p>{{ uiService.getSubwalletSubtitle(toSubWallet) }}</p>
            </ion-col>
            <ion-col size="4.2" class="right-col">
                <h1>{{ uiService.getFixedBalance(toSubWallet.getDisplayBalance()) }}</h1>
                <p *ngIf="toSubWallet.getAmountInExternalCurrency(toSubWallet.getDisplayBalance())">
                    {{ toSubWallet.getAmountInExternalCurrency(toSubWallet.getDisplayBalance()) }}
                    {{ currencyService.selectedCurrency.symbol }}
                </p>
            </ion-col>
            <div class="arrow-down"></div>
        </ion-row>
        <ion-row class="main-title-row">
            <ion-col size="12">
                <p>{{ 'transfer-amount' | translate }}</p>
            </ion-col>
        </ion-row>
        <ion-row class="input-row">
            <ion-input
                type="text"
                placeholder="{{ 'amount' | translate }}"
                [(ngModel)]="amount"
            >
            </ion-input>
        </ion-row>
    </ion-grid>
</ion-content>

<ion-content *ngIf="transferType === 2">
    <ion-grid class="send-container" [class.send-dark-container]="theme.darkMode" [class.blur]="showPopover">
        <img [src]="!theme.darkMode ? 'assets/coins/ela-black.svg' : 'assets/coins/ela-white.svg'"/>

        <h1>{{ 'enter-amount' | translate }}</h1>
        <ion-row class="item-row">
            <ion-col size="6" class="left-col">
                <h2>{{ chainId }}</h2>
                <p *ngIf="isStandardSubwallet(fromSubWallet)">{{ currencyService.selectedCurrency.symbol }}</p>
            </ion-col>
            <ion-col size="6" class="right-col">
                <ion-input
                    class="amount-input"
                    type="number"
                    placeholder="0"
                    [(ngModel)]="amount"
                >
                </ion-input>
                <p *ngIf="fromSubWallet.getAmountInExternalCurrency(amount)">
                    {{ fromSubWallet.getAmountInExternalCurrency(amount) }}
                </p>
            </ion-col>
        </ion-row>

        <p *ngIf='amount'>{{ 'transfer-remain-balance' | translate: { amount: masterWallet.subWallets[chainId].getDisplayBalance() - amount } }}</p>
        <p *ngIf='!amount'>{{ 'transfer-remain-balance' | translate: { amount: masterWallet.subWallets[chainId].getDisplayBalance() } }}</p>
        <h1 class="send">{{ 'send-to' | translate }}</h1>

        <ion-row class="item-row">
            <ion-col size="10" class="left-col">
                <ion-input
                    type="text"
                    placeholder="{{ 'transfer-receiver-address' | translate}}"
                    [(ngModel)]="toAddress"
                    (input)='onSendToAddressInput($event.target.value)'>
                </ion-input>
            </ion-col>
            <ion-col size="2" class="right-col">
                <img (click)="goScan()" [src]="!theme.darkMode ? 'assets/icons/scan.svg' : 'assets/icons/darkmode/scan.svg'"/>
            </ion-col>
        </ion-row>

        <p [class.invisible]="!cryptoName">{{ cryptoName }}</p>

        <ion-row *ngIf="suggestedAddresses.length > 0" class="cryptoname-row">
            <ion-col size="12" *ngFor="let suggestedAddress of suggestedAddresses" (click)="selectSuggestedAddress(suggestedAddress)">
                <span>{{ suggestedAddress.getDisplayName() }}</span>
                <ion-icon mode="ios" name="add"></ion-icon>
            </ion-col>
        </ion-row>

        <h1 *ngIf="suggestedAddresses.length === 0" (click)="hideMemo = !hideMemo">
            {{ 'advanced-options' | translate }}
            <img *ngIf="!theme.darkMode" [class.rotate]="!hideMemo" src="assets/icons/down-arrow.svg"/>
            <img *ngIf="theme.darkMode" [class.rotate]="!hideMemo" src="assets/icons/darkmode/down-arrow.svg"/>
        </h1>
        <ion-row *ngIf="!hideMemo && suggestedAddresses.length === 0" class="item-row memo-row">
            <ion-col size="10" class="left-col">
                <ion-input
                    type="text"
                    placeholder="{{ 'tx-info-memo' | translate}}"
                    [(ngModel)]="memo"
                >
                </ion-input>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>

<ion-footer
    *ngIf="!showPopover && transferType !== 3"
    class="footer"
    [class.dark-footer]="theme.darkMode"
>
    <ion-row class="btn-container">
        <ion-button color="primary" (click)="goTransaction()" *ngIf="!waitingForSyncCompletion">
            <ion-label *ngIf="transferType === 1">{{ 'recharge' | translate}}</ion-label>
            <ion-label *ngIf="transferType === 4">{{ 'withdraw' | translate}}</ion-label>
            <ion-label *ngIf="transferType === 2">{{ 'send' | translate}}</ion-label>
        </ion-button>
        <div *ngIf="waitingForSyncCompletion">
            <ion-card-title>{{ 'waitforsync-loading' | translate }}</ion-card-title>
            <ion-card-subtitle>
                {{ 'waitforsync-intro' | translate }}
            </ion-card-subtitle>
            <span class="syncing">&#8226; {{ 'sync-progress' | translate: { progress: fromSubWallet.progress } }}</span>
        </div>
    </ion-row>
</ion-footer>

<ion-content *ngIf="transferType === 3">
    <div class="pay-container" [class.dark-pay-container]="theme.darkMode">
        <ion-img src="./assets/tx/send.svg"></ion-img>
        <h1>{{ 'coin-transfer-send-title' | translate: { coinName: fromSubWallet.getDisplayTokenName() } }}</h1>
        <h2>{{ 'confirm-transaction-title' | translate }}</h2>
        <div>
            <h3>{{ 'from' | translate }}:</h3>
            <h4>{{ chainId }}</h4>
        </div>
       <div>
            <h3>{{ 'to' | translate }}:</h3>
            <h4>{{ toAddress }}</h4>
       </div>
       <div>
            <h3>{{ 'amount' | translate}}:</h3>
            <h4>{{ amount }}</h4>
       </div>
        <div *ngIf="memo">
            <h3>{{ 'tx-info-memo' | translate }}:</h3>
            <h4>{{ memo }}</h4>
        </div>
        <ion-row class="item-row">
            <ion-col size="6" class="left-col">
                <h4>{{ chainId }}</h4>
                <p *ngIf="isStandardSubwallet(fromSubWallet)">{{ currencyService.selectedCurrency.symbol }}</p>
            </ion-col>
            <ion-col size="6" class="right-col">
                <ion-input
                    class="amount-input"
                    type="number"
                    placeholder="0"
                    [(ngModel)]="amount"
                >
                </ion-input>
                <p *ngIf="fromSubWallet.getAmountInExternalCurrency(amount)">
                    {{ fromSubWallet.getAmountInExternalCurrency(amount) }}
                </p>
            </ion-col>
        </ion-row>
    </div>
</ion-content>

<ion-footer
    *ngIf="transferType === 3"
    class="pay-footer"
    [class.dark-pay-footer]="theme.darkMode"
>
    <ion-row class="btn-row">
        <ion-col class="btn cancel ion-activatable ripple" size="5.6" (click)="cancelPayment()">
            <ion-label>{{ 'cancel' | translate}}</ion-label>
            <ion-ripple-effect></ion-ripple-effect>
        </ion-col>
        <ion-col class="btn confirm ion-activatable ripple" size="5.6" (click)="goTransaction()">
            <ion-label>{{ 'confirm' | translate}}</ion-label>
            <ion-ripple-effect></ion-ripple-effect>
        </ion-col>
    </ion-row>
</ion-footer>

<!--
transferType.PAY Draft

<ion-content>
    <div class="pay-container" [class.dark-pay-container]="theme.darkMode">
        <ion-img src="./assets/tx/send.svg"></ion-img>
        <h1>Send ELA</h1>
        <h2>{{ 'confirm-transaction-title' | translate }}</h2>
        <h3>{{ 'from' | translate }}:</h3>
        <h4>EKA</h4>
        <h3>{{ 'to' | translate }}:</h3>
        <h4>efsewtwsed3edw3r3</h4>
        <h3>{{ 'amount' | translate}}:</h3>
        <h4>100</h4>
        <div>
            <h3>Memo:</h3>
            <h4>Hello!</h4>
        </div>
    </div>
</ion-content>
<ion-footer
    class="pay-footer"
    [class.dark-pay-footer]="theme.darkMode"
>
    <ion-row class="btn-row">
        <ion-col class="btn cancel ion-activatable ripple" size="5.6" (click)="cancelPayment()">
            <ion-label>{{ 'cancel' | translate}}</ion-label>
            <ion-ripple-effect></ion-ripple-effect>
        </ion-col>
        <ion-col class="btn confirm ion-activatable ripple" size="5.6">
            <ion-label>{{ 'confirm' | translate}}</ion-label>
            <ion-ripple-effect></ion-ripple-effect>
        </ion-col>
    </ion-row>
</ion-footer> -->