<ion-content *ngIf="transferType === 2">
    <ion-grid class="send-container" [class.send-dark-container]="theme.darkMode" [class.blur]="showPopover">
        <img [src]="!theme.darkMode ? 'assets/coins/ela-black.svg' : 'assets/coins/ela-white.svg'"/>
        <!-- Balance Container -->
        <h1>{{ 'enter-amount' | translate }}</h1>
        <ion-row class="item-row">
            <ion-col size="6" class="left-col">
                <h2>{{ chainId }}</h2>
                <p>{{ currencyService.selectedCurrency.symbol }}</p>
            </ion-col>
            <ion-col size="6" class="right-col">
                <ion-input
                    class="amount-input"
                    type="number"
                    placeholder="0"
                    [(ngModel)]="amount"
                >
                </ion-input>
                <p>{{ currencyService.getCurrencyBalance(amount)}}</p>
            </ion-col>
        </ion-row>
        <!-- Address Container -->
        <h1>{{ 'send-to' | translate }}</h1>
        <ion-row *ngIf="suggestedAddresses.length > 0">
            <ion-col size="12">
                <p style="color:black" *ngFor="let suggestedAddress of suggestedAddresses" (click)="selectSuggestedAddress(suggestedAddress)">
                    {{ suggestedAddress.getDisplayName() }}
                </p>
            </ion-col>
        </ion-row>
        <ion-row class="item-row">
            <ion-col size="10" class="left-col">
                <ion-input
                    type="text"
                    placeholder="{{ 'transfer-receiver-address' | translate}}"
                    [(ngModel)]="toAddress"
                    (input)='onSendToAddressInput($event.target.value)'>
                </ion-input>
            </ion-col>
            <ion-col size="2" class="right-col">
                <img (click)="goScan()" [src]="!theme.darkMode ? 'assets/icons/scan.svg' : 'assets/icons/darkmode/scan.svg'"/>
            </ion-col>
        </ion-row>
        <!-- Options Container -->
        <h1 (click)="hideMemo = !hideMemo">
            {{ 'advanced-options' | translate }}
            <img *ngIf="!theme.darkMode" [class.rotate]="!hideMemo" src="assets/icons/down-arrow.svg"/>
            <img *ngIf="theme.darkMode" [class.rotate]="!hideMemo" src="assets/icons/darkmode/down-arrow.svg"/>
        </h1>
        <ion-row *ngIf="!hideMemo" class="item-row">
            <ion-col size="10" class="left-col">
                <ion-input
                    type="text"
                    placeholder="{{ 'tx-info-memo' | translate}}"
                    [(ngModel)]="memo"
                >
                </ion-input>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>

<ion-content *ngIf="transferType === 1">
    <ion-grid class="recharge-container" [class.recharge-dark-container]="theme.darkMode" [class.blur]="showPopover">
        <ion-row class="main-title-row">
            <ion-col size="12">
                <p>{{ 'transfer-from' | translate }}</p>
            </ion-col>
        </ion-row>
        <ion-row class="item-row">
            <ion-col size="2.3" class="left-col">
                <ion-img [src]="getCoinIcon(fromSubWallet)"></ion-img>
            </ion-col>
            <ion-col size="4.7" class="middle-col">
                <div *ngIf="fromSubWallet.id === 'ELA'">
                    <h1>Elastos</h1>
                    <p>ELA</p>
                </div>
                <div *ngIf="fromSubWallet.id === 'IDChain'">
                    <h1>Elastos DID</h1>
                    <p>ELADIDSC</p>
                </div>
                <div *ngIf="fromSubWallet.id === 'ETHSC'">
                    <h1>Elastos ETH</h1>
                    <p>ELAETHSC</p>
                </div>
            </ion-col>
            <ion-col size="5" class="right-col">
                <h1>{{ fromSubWallet.balance/SELA }}</h1>
                <p>
                    {{ currencyService.getCurrencyBalance(fromSubWallet.balance/SELA) }} 
                    {{ currencyService.selectedCurrency.symbol }}
                </p>
               <!--  <p *ngIf="fromSubWallet.progress === 100" class="synced">&#8226; {{ 'synchronized' | translate: {progress: fromSubWallet.progress} }}</p>
                <p *ngIf="fromSubWallet.progress !== 100" class="syncing">&#8226; {{ 'sync-progress' | translate: {progress: fromSubWallet.progress} }}</p> -->
            </ion-col>
            <div class="arrow-down"></div>
        </ion-row>
        <ion-row class="main-title-row">
            <ion-col size="12">
                <p>{{ 'transfer-to' | translate }}</p>
            </ion-col>
        </ion-row>
        <ion-row class="item-row">
            <ion-col size="2.3" class="left-col">
                <ion-img [src]="getCoinIcon(toSubWallet)"></ion-img>
            </ion-col>
            <ion-col size="4.7" class="middle-col">
                <div *ngIf="toSubWallet.id === 'ELA'">
                    <h1>Elastos</h1>
                    <p>ELA</p>
                </div>
                <div *ngIf="toSubWallet.id === 'IDChain'">
                    <h1>Elastos DID</h1>
                    <p>ELADIDSC</p>
                </div>
                <div *ngIf="toSubWallet.id === 'ETHSC'">
                    <h1>Elastos ETH</h1>
                    <p>ELAETHSC</p>
                </div>
            </ion-col>
            <ion-col size="5" class="right-col">
                <h1>{{ toSubWallet.balance/SELA }}</h1>
                <p>
                    {{ currencyService.getCurrencyBalance(toSubWallet.balance/SELA) }} 
                    {{ currencyService.selectedCurrency.symbol }}
                </p>
<!--                 <p *ngIf="toSubWallet.progress === 100" class="synced">&#8226; {{ 'synchronized' | translate: {progress: toSubWallet.progress} }}</p>
                <p *ngIf="toSubWallet.progress !== 100" class="syncing">&#8226; {{ 'sync-progress' | translate: {progress: toSubWallet.progress} }}</p> -->
            </ion-col>
            <div class="arrow-down"></div>
        </ion-row>
        <ion-row class="main-title-row">
            <ion-col size="12">
                <p>{{ 'transfer-amount' | translate }}</p>
            </ion-col>
        </ion-row>
        <ion-row class="input-row">
            <ion-input
                type="text"
                placeholder="{{ 'text-price' | translate }}"
                [(ngModel)]="amount"
            >
            </ion-input>
        </ion-row>
    </ion-grid>
</ion-content>

<ion-footer *ngIf="!showPopover">
    <ion-row class="btn-container">
        <ion-button color="primary" (click)="goTransaction()">
            <ion-label *ngIf="transferType === 1">{{ 'transfer' | translate}}</ion-label>
            <ion-label *ngIf="transferType === 2">{{ 'send' | translate}}</ion-label>
        </ion-button>
    </ion-row>
</ion-footer>
