/********************** Send Container **********************/
.send-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 100%;
    margin: 0;
    padding: 30px;

    img {
        width: 75px;
        height: 75px;
        padding: 5px;
    }

    h1 {
        margin: 25px 0 20px;
        font-size: 13px;
        font-weight: 400;
        letter-spacing: 0.7px;

        img {
            position: relative;
            top: 6.5px;
            width: 22px;
            height: 22px;
        }

        .rotate {
            transform: rotate(-180deg);
        }
    }

    p {
        width: 100%;
        margin: 7.5px 10px 0 0;
        font-size: 10px;
        font-weight: 600;
        letter-spacing: 0.7px;
        text-align: right;
    }

    .invisible {
        visibility: hidden;
    }

    .send {
        margin-top: 17.5px;
    }

    .item-row {
        width: 100%;
        border-radius: 16px;
        padding: 10px 10px 10px 15px;
        box-shadow: 0 3px 15px 0 #ededf0;
        background-color: #ffffff;
        display: flex;
        justify-content: space-between;
        align-items: center;

        h2, .amount-input {
            width: 100%;
            margin: 0;
            font-size: 19px;
            font-weight: 600;
            letter-spacing: 0.95px;
        }

        p {
            margin: 0;
            padding-top: 4px;
            font-size: 12px;
            font-weight: 400;
            color: #8888b0;
        }

        .left-col {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            overflow: hidden;

            h2 {
                padding-bottom: 4px;
            }

            p {
                text-align: left;
            }

            ion-input {
                background-color: #ffffff;
                font-size: 14px;
                font-weight: 400;
                letter-spacing: -0.34px;
                text-align: left;
                color: #8888b0;
            }
        }

        .right-col {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-end;
            overflow: hidden;

            img {
                width: 32px;
                height: 32px;
                object-fit: contain;
            }

            .amount-input, p {
                text-align: right;
            }

            .amount-input {
                --padding-end: 0;
                --padding-top: 0;
               --padding-bottom: 4px;
                font-weight: 700;
            }
        }
    }
}

/********************** Send Dark Container **********************/
.send-dark-container {
    .item-row {
        box-shadow: 0 3px 15px 0 #151626;
        background-color: #2b2c49;

        .amount-input {
            color: #ffffff;
        }

        .left-col {
            ion-input {
                background-color: #2b2c49;
            }
        }
    }
}

/********************** Recharge Container **********************/
.recharge-container {
    min-height: 100%;
    padding: 20px;

    .main-title-row {
        margin-left: 10px;

        p {
            margin: 0;
            font-size: 13px;
            font-weight: 400;
            letter-spacing: 0.7px;
            text-align: left;
        }
    }

    .item-row {
        position: relative;
        width: 100%;
        border-radius: 17px;
        padding: 7.5px 10px 7.5px 0;
        margin-bottom: 32px;
        box-shadow: 0 3px 15px 0 #ededf0;
        background-color: #ffffff;

        .left-col {
            display: flex;
            justify-content: center;
            align-items: center;
            padding-left: 10px;

            ion-img {
                position: relative;
                z-index: 10;
                width: 52.7px;
                height: 52.7px;
                object-fit: contain;
            }
        }

        .middle-col, .right-col {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            overflow: hidden;

            h1, p {
                margin: 0;
            }

            h1 {
                font-size: 17px;
                font-weight: 600;
                line-height: 1.29;
                letter-spacing: 0.7px;
                text-align: left;
            }

            p {
                font-size: 13px;
                font-weight: 400;
                padding-top: 6px;
                text-align: left;
            }
        }

        .right-col {
            align-items: flex-end;

            h1 {
                font-weight: 700;
                text-align: right;
            }

            p {
                color: #8888b0;
                text-align: right;
            }

          /*   p {
                font-weight: 700;
                font-size: 9px;
                letter-spacing: 0.9px;
            }

            .synced {
                color: #b176ff;
            }

            .syncing {
                color: #20e3d2;
            } */
        }

        .arrow-down {
            position: absolute;
            z-index: 0;
            bottom: -15px;
            left: 6%;
            height: 30px;
            width: 30px;
            transform: translate(2px, -2px) rotate(-45deg);
            -webkit-transform: translate(2px, -2px) rotate(-45deg);
            border-right: 2px solid transparent;
            border-top: 2px solid transparent;
            display: inline-block;
            -moz-transform: translate(2px, -2px) rotate(-45deg);
            -ms-transform: translate(2px, -2px) rotate(-45deg);
            -o-transform: translate(2px, -2px) rotate(-45deg);
            background-color: #ffffff;
        }
    }

    .input-row {
        width: 100%;

        ion-input {
            background-color: #ffffff;
            color: #000000;
            height: 50px;
            border-radius: 16px;
            font-size: 19px;
            font-weight: 600;
            letter-spacing: 0.95px;
            --padding-start: 16px;
        }
    }
}

/********************** Recharge Dark Container **********************/
.recharge-dark-container {
    .item-row {
        box-shadow: 0 3px 15px 0 #151626;
        background-color: #2b2c49;

        .arrow-down {
            background-color: #2b2c49;
        }
    }


    .input-row {
        ion-input {
            background-color: #2b2c49;
            color: #ffffff;
        }
    }
}

/********************** Send and Recharge Footer **********************/
.footer {
    background: transparent;
    padding: 30px;

    .btn-container {
        width: 100%;
    }
}

/********************** Pay Intent Container **********************/
.pay-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 40px 5px;

    ion-img {
      width: 67.2px;
      height: 67.2px;
      object-fit: contain;
    }

    div {
      text-align: left;
      width: 100%;
    }

    h1, h2, h3, h4 {
      margin: 0;
      padding: 0 40px;
      width: 100%;
    }

    h1, h2 {
      text-align: center;
    }

    h3, h4 {
      text-align: left;
      font-size: 13px;
    }

    h1 {
      padding-top: 5px;
      padding-bottom: 5px;
      font-size: 11px;
      font-weight: 600;
    }

    h2 {
      padding-top: 20px;
      padding-bottom: 20px;
      font-size: 20px;
      font-weight: 700;
    }

    h3 {
      padding-top: 5px;
      padding-bottom: 5px;
      font-weight: 700;
    }

    h4 {
      padding-top: 0;
      padding-bottom: 15px;
      font-weight: 400;
    }
}

/********************** Pay Intent Dark Container **********************/
.dark-pay-container {
    h4 {
        color: #8888b0;
    }
}

/********************** Pay Intent Footer **********************/
.pay-footer {
    padding: 10px 10px 40px;

    .btn-row {
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;

        .btn {
            height: 47px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 8px;

                ion-label {
                    font-size: 17px;
                    font-weight: 500;
                }
            }

            .cancel {
                box-shadow: 0 3px 15px 0 #ededf0;
                background-color: #ffffff;

                ion-label {
                    color: #000000;
                }
            }

            .confirm {
                box-shadow: 0 3px 15px 0 #ededf0;
                background-color: #6e23d0;

                ion-label {
                    color: #ffffff;
            }
        }
    }
}

/********************** Pay Intent Dark Footer **********************/
.dark-pay-footer {
    .btn-row {
        .cancel {
            box-shadow: 0 3px 6px 0 #151626;
            background-color: #202039;

            ion-label {
                color: #ffffff;
            }
        }

        .confirm {
            box-shadow: 0 3px 15px 0 #151626;
        }
    }
}

