<ion-header>
    <ion-navbar>
        <ion-title style="text-align:center">{{'text-kyc-result' | translate}}</ion-title>
    </ion-navbar>
</ion-header>
<ion-content no-bounce>
    <div class="company-result">
        <div class="result-title" *ngIf="type==='0'">
            <p>{{'text-kyc-success' | translate }} <img src='./assets/images/icon/icon-success.svg' class="result-img" /></p>
        </div>

        <div class="result-title" *ngIf="type==='1'">
            <p>{{'text-kyc-failure' | translate }} <img src='./assets/images/icon/icon-failure.svg' class="result-img" /></p>
        </div>

        <ion-grid>
            <ion-row>
                <ion-col col-4 class="font-size-1">
                    {{'text-company-name' | translate }}
                </ion-col>

                <ion-col col-8 class="font-size-1">
                    {{businessObj.word}}
                </ion-col>

                <ion-col col-4 class="font-size-1">
                    {{'text-company-legal' | translate }}
                </ion-col>

                <ion-col col-8 class="font-size-1">
                    {{businessObj.legalPerson}}
                </ion-col>

                <ion-col col-4 class="font-size-1">
                    {{'text-company-code' | translate }}
                </ion-col>

                <ion-col col-8 class="font-size-1">
                    {{businessObj.registrationNum}}
                </ion-col>
            </ion-row>

        </ion-grid>
    </div>
</ion-content>
<ion-footer>
    <div class="title">
        <p class="text-person-agreement-wenzi">{{ 'text-id-chain-prompt1' | translate }}</p>
    </div>
    <button ion-button full (click)="onCommit()" style="width: 100%" *ngIf="orderStatus===2"> {{'text-data-chain' | translate}}</button>
    <button ion-button full style="width: 100%" *ngIf="orderStatus===4">{{'text-data-chain1' | translate}}</button>
    <button ion-button full style="width: 100%" *ngIf="orderStatus===5">{{'text-data-chain2' | translate}}</button>
</ion-footer>