app-exprot-prikey {
    .kuangTextArea {
        text-align: center;
        padding: 10px
    }
    .backupWalletTextArea {
        width: 100%;
        border: solid 1px #ddd;
        border-radius: 20px;
        margin-top: 10px;
        resize: none;
        padding-left: 10px;
        padding-top: 10px;
    }
    .coin-info-top-box {
        text-align: center;
        padding: 30px;
        &>img {
            width: 50px;
        }
    }
    .coin-info-top-box img {
        width: 30px;
        height: 40px;
    }
}