// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

@font-face {
  font-family: 'Montserrat';
  font-weight: 300;
  font-style: normal;
  src: url('assets/fonts/montserrat/Montserrat-Light.ttf');
}
@font-face {
  font-family: 'Montserrat';
  font-weight: 400;
  font-style: normal;
  src: url('assets/fonts/montserrat/Montserrat-Regular.ttf');
}
@font-face {
  font-family: 'Montserrat';
  font-weight: 500;
  font-style: normal;
  src: url('assets/fonts/montserrat/Montserrat-Medium.ttf');
}
@font-face {
  font-family: 'Montserrat';
  font-weight: 600;
  font-style: normal;
  src: url('assets/fonts/montserrat/Montserrat-SemiBold.ttf');
}
@font-face {
  font-family: 'Montserrat';
  font-weight: 700;
  font-style: normal;
  src: url('assets/fonts/montserrat/Montserrat-Bold.ttf');
}
@font-face {
  font-family: 'Montserrat';
  font-weight: 800;
  font-style: normal;
  src: url('assets/fonts/montserrat/Montserrat-ExtraBold.ttf');
}
@font-face {
  font-family: 'Montserrat';
  font-weight: 900;
  font-style: normal;
  src: url('assets/fonts/montserrat/Montserrat-Black.ttf');
}

* {
  font-family: 'Montserrat' !important;
}

:focus {
  outline: none;
}
