// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

@font-face {
  font-family: 'Montserrat';
  font-weight: 300;
  font-style: normal;
  src: url('assets/fonts/montserrat/Montserrat-Light.ttf');
}
@font-face {
  font-family: 'Montserrat';
  font-weight: 400;
  font-style: normal;
  src: url('assets/fonts/montserrat/Montserrat-Regular.ttf');
}
@font-face {
  font-family: 'Montserrat';
  font-weight: 500;
  font-style: normal;
  src: url('assets/fonts/montserrat/Montserrat-Medium.ttf');
}
@font-face {
  font-family: 'Montserrat';
  font-weight: 600;
  font-style: normal;
  src: url('assets/fonts/montserrat/Montserrat-SemiBold.ttf');
}
@font-face {
  font-family: 'Montserrat';
  font-weight: 700;
  font-style: normal;
  src: url('assets/fonts/montserrat/Montserrat-Bold.ttf');
}
@font-face {
  font-family: 'Montserrat';
  font-weight: 800;
  font-style: normal;
  src: url('assets/fonts/montserrat/Montserrat-ExtraBold.ttf');
}
@font-face {
  font-family: 'Montserrat';
  font-weight: 900;
  font-style: normal;
  src: url('assets/fonts/montserrat/Montserrat-Black.ttf');
}

* {
  font-family: 'Montserrat' !important;
}

:focus {
  outline: none;
}

/** Page filter when popup is showing **/
.blur {
  filter: blur(2.5px);
  background: #161740;
}

/** Ripple for clickable items **/
.ripple {
  position: relative;
  overflow: hidden;
}

/** ion-slides pagination **/
.swiper-pagination {
  position: relative;
  padding-top: 20px;
  color: #ffffff;
}

/** ion-refresher **/
.refresh {
  .refresher-pulling-text,
  .refresher-refreshing-text,
  .refresher-refreshing-icon,
  .refresher-pulling-icon {
    font-weight: 500;
  }
}

/** alert controller **/
.alert {
  --ion-text-color: #000000;
}

ion-input {
  height: 45px;
  border-radius: 8px;
  font-size: 15px;
}

ion-button {
    height: 45px;
    width: 100%;
    // box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.15);
    --border-radius: 8px;

    ion-label {
        text-transform: none;
        font-size: 16px;
        font-weight: 500;
        letter-spacing: -0.43px;
    }
}

.txConfirm {
  --background: #f8f8ff;
  animation: animate;
  animation-duration: 300ms;
  animation-fill-mode: forwards;

  @keyframes animate {
    0% { bottom: -1000px }
    100% { bottom: 0px }
  }

  ion-backdrop {
    background: transparent !important;
  }

  .popover-wrapper{
    .popover-content {
      position: relative !important;
      margin: 0 auto !important;
      left: auto !important;
      top: auto !important;
      width: 85vw !important;
    }
  }
}

.txConfirmDark {
  --background: #191a2f;
  animation: animate;
  animation-duration: 300ms;
  animation-fill-mode: forwards;

  @keyframes animate {
    0% { bottom: -1000px }
    100% { bottom: 0px }
  }

  ion-backdrop {
    background: transparent !important;
  }

  .popover-wrapper{
    .popover-content {
      position: relative !important;
      margin: 0 auto !important;
      left: auto !important;
      top: auto !important;
      width: 85vw !important;
    }
  }
}
