// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

@font-face {
  font-family: 'Montserrat';
  font-weight: 300;
  font-style: normal;
  src: url('assets/fonts/montserrat/Montserrat-Light.ttf');
}
@font-face {
  font-family: 'Montserrat';
  font-weight: 400;
  font-style: normal;
  src: url('assets/fonts/montserrat/Montserrat-Regular.ttf');
}
@font-face {
  font-family: 'Montserrat';
  font-weight: 500;
  font-style: normal;
  src: url('assets/fonts/montserrat/Montserrat-Medium.ttf');
}
@font-face {
  font-family: 'Montserrat';
  font-weight: 600;
  font-style: normal;
  src: url('assets/fonts/montserrat/Montserrat-SemiBold.ttf');
}
@font-face {
  font-family: 'Montserrat';
  font-weight: 700;
  font-style: normal;
  src: url('assets/fonts/montserrat/Montserrat-Bold.ttf');
}
@font-face {
  font-family: 'Montserrat';
  font-weight: 800;
  font-style: normal;
  src: url('assets/fonts/montserrat/Montserrat-ExtraBold.ttf');
}
@font-face {
  font-family: 'Montserrat';
  font-weight: 900;
  font-style: normal;
  src: url('assets/fonts/montserrat/Montserrat-Black.ttf');
}

* {
  font-family: 'Montserrat' !important;
}

.ripple {
  position: relative;
  overflow: hidden;
}

:focus {
  outline: none;
}

  
ion-button {
    height: 45px;
    width: 100%;
    // box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.15);
    --border-radius: 8px;

    ion-label {
        text-transform: none;
        font-size: 16px;
        font-weight: 500;
        letter-spacing: -0.43px;
    }
}
