/* id 管理 */

app-manager {
    .per-certified {
        width: 100%;
        height: 100%;
        overflow: auto;
        .radio {
            width: 20px;
            height: 20px;
            border: 1px solid #138efe;
            border-radius: 50%;
            margin: 0 10px;
            display: block;
            // background:url('./../../assets/images/ricon.png') no-repeat center;
        }
        .huan-hang {
            width: 100%;
            height: auto;
            word-wrap: break-word;
            word-break: break-all;
            overflow: hidden;
        }
        .per-select {
            background: url('../assets/images/ricon.png') no-repeat center;
            background-size: 100% 100%;
            border: none;
            // background:url('./../../assets/images/ricon.png') no-repeat center;
        }
        .kuangTextArea {
            text-align: center;
            padding: 10px
        }
        .backupWalletTextArea {
            width: 100%;
            border: solid 1px #ddd;
            border-radius: 20px;
            margin-top: 10px;
            resize: none;
            padding-left: 10px;
            padding-top: 10px;
        }
        .manage-items {
            display: block;
            .item {
                display: -webkit-box;
                background: #fff;
                align-items: center;
                margin: 10px 10px 10px 0px;
                .manage-content {
                    -webkit-box-flex: 1;
                    padding-left: 10px;
                    p {
                        font-family: PingFangSC-Regular;
                        font-size: 1em;
                        font-weight: normal;
                        font-stretch: normal;
                        line-height: 25px;
                        letter-spacing: 0px;
                    }
                    p:nth-child(1) {
                        color: #333;
                    }
                    p:nth-child(2) {
                        color: #999;
                        font-size: 12px;
                    }
                }
            }
        }
        .chooseAll {
            display: -webkit-box;
            /* 老版本语法: Safari, iOS, Android browser, older WebKit browsers. */
            display: -moz-box;
            /* 老版本语法: Firefox (buggy) */
            display: -ms-flexbox;
            /* 混合版本语法: IE 10 */
            display: -webkit-flex;
            /* 新版本语法: Chrome 21+ */
            display: flex;
            /* 新版本语法: Opera 12.1, Firefox 22+ */
            height: 80px;
            align-items: center;
            div.btns {
                -webkit-box-flex: 1;
                /* OLD - iOS 6-, Safari 3.1-6 */
                -moz-box-flex: 1;
                /* OLD - Firefox 19- */
                -webkit-flex: 1;
                /* Chrome */
                -ms-flex: 1;
                /* IE 10 */
                flex: 1;
                /* NEW, Spec - Opera 12.1, Firefox 20+ */
                text-align: right;
                a {
                    padding: 10px 30px;
                    border-radius: 4px;
                    border: 1px solid #138efe;
                    margin-right: 20px;
                    color: #138efe;
                }
                //a.importBtn {}
            }
        }
    }
}