<ion-header>
    <ion-navbar>
        <ion-title style="text-align: center">{{'text-record'|translate}}</ion-title>
    </ion-navbar>
</ion-header>
<ion-content>

    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="" refreshingSpinner="circles" refreshingText="">
        </ion-refresher-content>
        <ion-refresher-content>
        </ion-refresher-content>
    </ion-refresher>


    <div class="recordinfo-top">
        <img src={{payStatusIcon}} />
        <p>{{transactionRecord.status | translate}}</p>
    </div>

    <ion-grid>
        <ion-row class="font-size-1">
            <ion-col col-4>
                {{'transaction-price' | translate}}
            </ion-col>
            <ion-col col-8 class="text-right">
                {{jiajian}} {{transactionRecord.resultAmount}} {{transactionRecord.name}}
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col col col-4 *ngIf="inputs.length>0">
                {{"Inputs"|translate}}
            </ion-col>
        </ion-row>

        <ion-row *ngFor="let item of inputs; let i = index">
            <ion-col col col-12 *ngIf="i<3" (click)="onNext(item['address'])">
                {{item["address"]}}
            </ion-col>
            <ion-col col col-12 class="text-right" *ngIf="i<3">
                {{item["balance"]}}{{transactionRecord.name}}
            </ion-col>

            <ion-col col-12 *ngIf="i===3">
                {{item["address"]}}
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col col col-4>
                {{"Outputs"|translate}}
            </ion-col>
        </ion-row>

        <ion-row *ngFor="let item of outputs; let i = index">
            <ion-col col col-12 *ngIf="i<3" (click)="onNext(item['address'])">
                {{item["address"]}}
            </ion-col>
            <ion-col col col-12 class="text-right" *ngIf="i<3">
                {{item["balance"]}}{{transactionRecord.name}}
            </ion-col>

            <ion-col col-12 *ngIf="i===3">
                {{item["address"]}}
            </ion-col>
        </ion-row>

        <ion-row class="font-size-1">
            <ion-col col-4>
                {{'transaction-id' | translate}}
            </ion-col>
            <ion-col col-8 (click)="tiaozhuan(transactionRecord.txId)">
                <a href="#">{{transactionRecord.txId}}</a>
            </ion-col>
        </ion-row>

        <ion-row class="font-size-1">
            <ion-col col-4>
                {{'transaction-time' | translate}}
            </ion-col>
            <ion-col col-8 *ngIf="transactionRecord.timestamp!='0'" class="text-right">
                {{transactionRecord.transactionTime}}
            </ion-col>
        </ion-row>

        <ion-row class="row" class="font-size-1" *ngIf="transactionRecord.payfees > 0">
            <ion-col col-4>
                {{'text-fees' | translate}}
            </ion-col>
            <ion-col col-8 class="text-right">
                {{transactionRecord.payfees}}
            </ion-col>
        </ion-row>


        <ion-row class="row" class="font-size-1">
            <ion-col col-4>
                {{'confirm-count' | translate}}
            </ion-col>
            <ion-col col-8 class="text-right">
                {{transactionRecord.confirmCount}}
            </ion-col>
        </ion-row>

        <ion-row class="row" class="font-size-1">
            <ion-col col-4>
                {{'transaction-type' | translate}}
            </ion-col>
            <ion-col col-8 class="text-right">
                {{transactionRecord.payType|translate}}
            </ion-col>
        </ion-row>

        <ion-row class="row" class="font-size-1">
            <ion-col col-4>
                {{'text-remark' | translate}}
            </ion-col>
            <ion-col col-8 class="text-right">
                {{transactionRecord.remark}}
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>