app-recordinfo {
    .recordinfo-top {
        text-align: center;
        padding: 20px 0px;
        img {
            width: 20%;
        }
        p {
            font-size: 1.2em;
            color: #488aff;
        }
    }
    .font-size-1 {
        font-size: 16px;
    }
    .text-right {
        text-align: right;
    }
}