<!-- <ion-content>
    <ion-grid class="container" [class.dark-container]="theme.darkMode">
        <ion-card>
            <ion-img [src]="!theme.darkMode ? 'assets/intents/dpos.svg' : 'assets/intents/darkmode/dpos.svg'"></ion-img>
            <ion-card-title>You are Voting!</ion-card-title>
            <ion-card-subtitle>This will cost a minor transaction fee</ion-card-subtitle>
        </ion-card>
        <div class="msg-container">
            <p>You are voting for:</p>
            <h1 id="count">36/36</h1>
            <p id="with">With:</p>
            <h1>51.12 <span>ELA</span></h1>
        </div>
        <ion-row class="btn-row">
            <ion-col class="btn cancel ion-activatable ripple" size="5.6" (click)="cancelOperation()">
                <ion-label>{{ 'cancel' | translate}}</ion-label>
                <ion-ripple-effect></ion-ripple-effect>
            </ion-col>
            <ion-col class="btn confirm ion-activatable ripple" size="5.6" (click)="goTransaction()">
                <ion-label>{{ 'confirm' | translate}}</ion-label>
                <ion-ripple-effect></ion-ripple-effect>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content> -->

<ion-content>
    <ion-grid class="container" [class.dark-container]="theme.darkMode">
        <ion-card>
            <ion-img [src]="!theme.darkMode ? 'assets/intents/dpos.svg' : 'assets/intents/darkmode/dpos.svg'"></ion-img>
            <ion-card-title>{{ 'dposvote-you-are-voting' | translate }}</ion-card-title>
            <ion-card-subtitle>{{ 'dposvote-transaction-fees' | translate }}</ion-card-subtitle>
        </ion-card>
        <div class="msg-container">
            <p>{{ 'dposvote-voting-for' | translate }}</p>
            <h1 id="count">{{ coinTransferService.publickeys.length }}/36</h1>
            <p id="with">{{ 'dpostvote-with' | translate }}</p>
            <h1>{{ getBalanceInELA() | number:'1.0-3' }}<span>ELA</span></h1>
        </div>
        <ion-row class="btn-row">
            <ion-col class="btn cancel ion-activatable ripple" size="5.6" (click)="cancelOperation()">
                <ion-label>{{ 'cancel' | translate}}</ion-label>
                <ion-ripple-effect></ion-ripple-effect>
            </ion-col>
            <ion-col class="btn confirm ion-activatable ripple" size="5.6" (click)="goTransaction()">
                <ion-label>{{ 'confirm' | translate}}</ion-label>
                <ion-ripple-effect></ion-ripple-effect>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
