<ion-header>
    <header-bar title="text-transfer"></header-bar>
</ion-header>
<ion-content>
    <ion-list>
        <ion-item *ngIf="introText!=''" >
            <p>{{ this.introText | translate}}</p>
        </ion-item>
        <ion-item>
            <ion-label>{{ 'text-receiver-address' | translate}}</ion-label>
            <ion-buttons slot="end" *ngIf="transfer.type!='payment-confirm' || transfer.type!='vote-UTXO'">
                <ion-icon name="scan" (click)="rightHeader()"></ion-icon>
                <ion-icon *ngIf="transfer.type=='transfer'" name="contact" (click)="goContact()"></ion-icon>
            </ion-buttons>
        </ion-item>
        <ion-item>
            <ion-input type="text" placeholder="{{ 'text-receiver-address' | translate}}" [readonly]="readonly"
                [(ngModel)]="transfer.toAddress"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>{{ 'text-price' | translate}}</ion-label>
            <ion-note slot="end" *ngIf="!transfer.rate">
                {{'text-balance' | translate}}：{{Config.curMaster.subWallet[chainId].balance/SELA}}
            </ion-note>
            <ion-note slot="end" *ngIf="transfer.rate>0">
                {{'text-balance' | translate}}：{{Config.curMaster.subWallet[chainId].balance/SELA}}({{'text-rate' | translate}}：1:{{transfer.rate}})
            </ion-note>
        </ion-item>
        <ion-item>
            <ion-input type="text" placeholder="{{ 'text-price' | translate}}" [(ngModel)]="transfer.amount"
                [readonly]="readonly">
            </ion-input>
        </ion-item>
        <ion-item *ngIf="!hideMemo">
            <ion-label>{{ 'text-memo' | translate}}</ion-label>
        </ion-item>
        <ion-item *ngIf="!hideMemo">
            <ion-input type="text" placeholder="{{ 'text-memo' | translate}}" [(ngModel)]="transfer.memo"
                [readonly]="readonly"></ion-input>
        </ion-item>
    </ion-list>
</ion-content>
<ion-footer>
    <ion-button class="confirm" (click)="goTransaction()">{{ 'text-transfer' | translate }}</ion-button>
</ion-footer>