<ion-header>
    <ion-navbar>
        <ion-title style="text-align:center">{{'text-kyc-result' | translate}}</ion-title>
    </ion-navbar>
</ion-header>
<ion-content no-bounce>
    <div class="company-result" style="height:100%;overflow: auto;">
        <div class="result-title" *ngIf="type==='0'">
            <p>{{'text-kyc-success' | translate }} <img src='./assets/images/icon/icon-success.svg' class="result-img" /></p>
        </div>

        <div class="result-title" *ngIf="type==='1'">
            <p>{{'text-kyc-failure' | translate }} <img src='./assets/images/icon/icon-failure.svg' class="result-img" /></p>
        </div>

        <ion-grid>
            <ion-col col-2 class="font-size-1">
                {{'text-name' | translate }}
            </ion-col>

            <ion-col col-10 class="font-size-1">
                {{pageObj["identityCard"]["fullName"]}}
            </ion-col>

            <ion-col col-2 class="font-size-1">
                {{'text-identity' | translate }}
            </ion-col>

            <ion-col col-10 class="font-size-1">
                {{pageObj["identityCard"]["identityNumber"]}}
            </ion-col>

            <ion-col col-2 class="font-size-1" *ngIf="pageObj['phone']">
                {{'text-certified-phone' | translate }}
            </ion-col>

            <ion-col col-10 class="font-size-1" *ngIf="pageObj['phone']">
                {{pageObj["phone"]["mobile"]}}
            </ion-col>

            <ion-col col-2 class="font-size-1" *ngIf="pageObj['bankCard']">
                {{'text-card-debit' | translate }}
            </ion-col>

            <ion-col col-10 class="font-size-1" *ngIf="pageObj['bankCard']">
                {{pageObj["bankCard"]["cardMobile"]}}
            </ion-col>


            <ion-col col-2 class="font-size-1">
                {{'text-card' | translate }}
            </ion-col>

            <ion-col col-10 class="font-size-1">
                {{pageObj["bankCard"]["cardNumber"]}}
            </ion-col>
        </ion-grid>
    </div>
</ion-content>

<ion-footer>
    <div class="title">
        <p class="text-person-agreement-wenzi">{{ 'text-id-chain-prompt1' | translate }}</p>
    </div>
    <button ion-button full class="button-footer" (click)="onCommit()" style="width: 100%" *ngIf="orderStatus===2"> {{'text-data-chain' | translate}}</button>
    <button ion-button full class="button-footer" style="width: 100%" *ngIf="orderStatus===4">{{'text-data-chain1' | translate}}</button>
    <button ion-button full class="button-footer" style="width: 100%" *ngIf="orderStatus===5">{{'text-data-chain2' | translate}}</button>
</ion-footer>