page-identityauth {
    .font-size-1 {
        font-size: 16px;
    }
    .text-center {
        text-align: center;
    }
    .text-right {
        text-align: right;
    }
    .text-left {
        text-align: left;
    }
}